<md-dialog flex="50" aria-label="Pristigle ponude"  ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Pregled pristiglih ponuda</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="singleOfferVm.cancel()">
                <md-icon md-svg-src="images/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div layout="column" ng-cloak>
            <md-content layout-padding>
                <md-list ng-cloak>
                    <md-list-item class="md-3-line" ng-repeat="response in singleOfferVm.responses">
                        <div class="md-list-item-text">
                            <h3><strong>{{'Ponuda #' + response.responseId}}</strong></h3>
                            <p>{{response.provider.firstName + ' ' + response.provider.lastName}}</p>
                            <p>{{response.price + ' RSD'}}</p>
                            <p style="color:green;" ng-show="response.status == 'accepted'">
                                <em>prihvaćena</em>
                            </p>
                            <p style="color:red;" ng-show="response.status == 'rejected'">
                                <em>odbijena</em>
                            </p>
                        </div>
                        <md-button  class="md-fab md-mini md-primary md-raised md-secondary"
                                    ng-click="singleOfferVm.acceptResponse(response.responseId);"
                                    ng-disabled="response.status=='rejected'">
                            <i class="material-icons md-24">done</i>
                            <md-tooltip md-direction="top">
                                Prihvati
                            </md-tooltip>
                        </md-button>
                        <md-button  class="md-fab md-mini md-accent md-raised md-secondary"
                                    ng-click="singleOfferVm.rejectResponse(response.responseId);response.status='rejected';"
                                    ng-disabled="response.status=='rejected'">
                            <i class="material-icons md-24">clear</i>
                            <md-tooltip md-direction="top">
                                Odbij
                            </md-tooltip>
                        </md-button>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>

                </md-list>
            </md-content>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>

        <md-button class="md-raised md-default" ng-click="singleOfferVm.cancel()" md-autofocus>
            Zatvori
        </md-button>
    </md-dialog-actions>

</md-dialog>
