<md-dialog flex="50" aria-label="Restoran"  ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Dodaj restoran</h2>
            <span flex></span>

            <md-button class="md-icon-button" ng-click="addRestaurantVm.cancel()">
                <md-icon md-svg-src="images/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div layout="column" ng-cloak>
            <md-content layout-padding>
                <form name="restaurantForm">
                    <md-input-container class="md-block">
                        <label>Naziv restorana</label>
                        <input md-maxlength="45" required name="restaurantName" ng-model="addRestaurantVm.addingRestaurant.name">
                        <div ng-messages="restaurantForm.restaurantName.$error">
                            <div ng-message="required">Ovo polje je obavezno.</div>
                            <div ng-message="md-maxlength">Naziv restorana mora biti kraći od 45 karaktera.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Opis</label>
                        <input md-maxlength="45" required md-no-asterisk name="restaurantInfo" ng-model="addRestaurantVm.addingRestaurant.info">
                        <div ng-messages="restaurantForm.restaurantInfo.$error">
                            <div ng-message="required">Ovo polje je obavezno</div>
                            <div ng-message="md-maxlength">Opis restorana mora biti kraći od 45 karaktera.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Tip</label>
                        <input md-maxlength="45" required md-no-asterisk name="restaurantType" ng-model="addRestaurantVm.addingRestaurant.type">
                        <div ng-messages="restaurantForm.restaurantType.$error">
                            <div ng-message="required">Ovo polje je obavezno</div>
                            <div ng-message="md-maxlength">Tip restorana mora biti kraći od 45 karaktera.</div>
                        </div>
                    </md-input-container>

                    <div layout="row">
                        <md-input-container class="md-block" flex>
                            <label>Radno vrijeme od</label>
                            <input required type="number" step="any" name="restaurantStart" ng-model="addRestaurantVm.addingRestaurant.startTime" min="1" />
                            <div ng-messages="restaurantForm.restaurantStart.$error" multiple md-auto-hide="false">
                                <div ng-message="required">
                                    Ovo polje je obavezno.
                                </div>
                                <div ng-message="min">
                                    Vrijeme otvaranja mora biti veće od 0.
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex>
                            <label>Radno vrijeme do</label>
                            <input required type="number" step="any" name="restaurantEnd" ng-model="addRestaurantVm.addingRestaurant.endTime" min="1" />
                            <div ng-messages="restaurantForm.restaurantEnd.$error" multiple md-auto-hide="false">
                                <div ng-message="required">
                                    Ovo polje je obavezno.
                                </div>
                                <div ng-message="min">
                                    Vrijeme zatvaranja mora biti veće od 0.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </form>
            </md-content>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-disabled="!restaurantForm.$valid" class="md-raised md-primary" ng-click="addRestaurantVm.create()" md-autofocus>
            Potvrdi
        </md-button>
        <md-button class="md-raised md-default" ng-click="addRestaurantVm.cancel()">
            Odustani
        </md-button>
    </md-dialog-actions>

</md-dialog>
