<md-dialog flex="90" style="height: 90%;" aria-label="Raspored"  ng-cloak>
    <md-toolbar >
        <div class="md-toolbar-tools" >
            <div class="md-toolbar-tools">
                <h2>Raspored rada</h2>
                <span flex></span>

                <h3 style="text-align: center" flex>{{ employeeScheduleVm.calendarTitle }}</h3>

                <md-button  class="md-fab md-mini md-raised md-secondary"
                            mwl-date-modifier
                            date="employeeScheduleVm.calendarDate"
                            decrement="employeeScheduleVm.calendarView">
                    <i class="material-icons md-24">keyboard_arrow_left</i>
                    <md-tooltip md-direction="top">
                        Prethodni
                    </md-tooltip>
                </md-button>
                <md-button  class="md-fab md-mini md-accent md-raised md-secondary"
                            mwl-date-modifier
                            date="employeeScheduleVm.calendarDate"
                            set-to-today>
                    <i class="material-icons md-24">today</i>
                    <md-tooltip md-direction="top">
                        Danas
                    </md-tooltip>
                </md-button>
                <md-button  class="md-fab md-mini md-raised md-secondary"
                            mwl-date-modifier
                            date="employeeScheduleVm.calendarDate"
                            increment="employeeScheduleVm.calendarView">
                    <i class="material-icons md-24">keyboard_arrow_right</i>
                    <md-tooltip md-direction="top">
                        Sljedeći
                    </md-tooltip>
                </md-button>

                <span flex></span>
                <md-button ng-click="employeeScheduleVm.changeToDay()">
                    Dnevni prikaz
                </md-button>
                <md-button ng-click="employeeScheduleVm.changeToWeek()">
                    Sedmični prikaz
                </md-button>
                <md-button ng-click="employeeScheduleVm.changeToMonth()">
                    Mjesečni prikaz
                </md-button>
            </div>

            <md-button class="md-icon-button" ng-click="employeeScheduleVm.cancel()">
                <md-icon md-svg-src="images/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <mwl-calendar
                view="employeeScheduleVm.calendarView"
                current-day="employeeScheduleVm.calendarDate"
                events="employeeScheduleVm.events"
                view-title="employeeScheduleVm.calendarTitle"
                view-date="vm.viewDate"
                on-event-click="eventClicked(calendarEvent)"
                on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                on-edit-event-click="eventEdited(calendarEvent)"
                on-delete-event-click="eventDeleted(calendarEvent)"
                cell-is-open="true">
        </mwl-calendar>
    </md-dialog-content>

</md-dialog>
