<md-dialog flex="50" aria-label="Piće"  ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Izmjena šifre</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-show="userVm.showCancel" ng-click="userVm.cancel()">
                <md-icon md-svg-src="images/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div layout="column" ng-cloak>
            <md-content layout-padding>
                <form name="passForm">
                    <md-input-container class="md-block">
                        <label>Vaša stara lozinka</label>
                        <md-icon aria-label="Email" class="material-icons">lock</md-icon>
                        <input required type="password" name="oldPassword"
                               data-pass-match="{key: customer.id, property: 'email'}"
                               minlength="8" ng-model="userVm.oldPassword" />
                        <div ng-messages="passForm.oldPassword.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength']">
                                Unijeta šifra je neispravna.
                            </div>
                            <div ng-message-exp="['match']">
                                Šifra koju ste unijeli se ne poklapa.
                            </div>
                        </div>
                    </md-input-container>


                    <md-input-container class="md-block">
                        <label>Nova lozinka</label>
                        <md-icon aria-label="Password" class="material-icons">lock_outline</md-icon>
                        <input minlength="8" required type="password" id="newPassword" name="newPassword" ng-model="userVm.newPassword"/>
                        <div ng-messages="passForm.newPassword.$error" role="alert">
                            <div ng-message="required">Lozinka je obavezna.</div>
                            <div ng-message="minlength">Lozinka mora imati bar 8 karaktera.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Ponovite Vašu lozinku</label>
                        <md-icon aria-label="Password" class="material-icons">lock_outline</md-icon>
                        <input required type="password" name="userPasswordRepeated" pw-match="newPassword" ng-model="userVm.repeatedPassword"/>
                        <div ng-messages="passForm.userPasswordRepeated.$error" role="alert">
                            <div ng-message="pwmatch">Lozinke se ne poklapaju.</div>
                        </div>
                    </md-input-container>
                </form>
            </md-content>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-disabled="!passForm.$valid" class="md-raised md-primary" ng-click="userVm.confirm()" md-autofocus>
            Potvrdi
        </md-button>
        <md-button ng-show="userVm.showCancel" class="md-raised md-default" ng-click="userVm.cancel()" md-autofocus>
            Odustani
        </md-button>
    </md-dialog-actions>

</md-dialog>
