<md-dialog flex="50" aria-label="Piće"  ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Kreiranje novog pića</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="drinkVm.cancel()">
                <md-icon md-svg-src="images/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div layout="column" ng-cloak>
            <md-content layout-padding>
                <form name="drinkForm">
                    <md-input-container class="md-block">
                        <label>Naziv pića</label>
                        <input required name="drinkName" ng-model="drinkVm.drink.name">
                        <div ng-messages="drinkForm.drinkName.$error">
                            <div ng-message="required">Ovo polje je neophodno.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Opis</label>
                        <input md-maxlength="100" required md-no-asterisk name="drinkInfo" ng-model="drinkVm.drink.info">
                        <div ng-messages="drinkForm.drinkInfo.$error">
                            <div ng-message="required">Ovo polje je neophodno</div>
                            <div ng-message="md-maxlength">Opis pića mora biti kraći od 100 karaktera.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Cena pića (RSD)</label>
                        <input required type="number" step="any" name="drinkPrice" ng-model="drinkVm.drink.price" min="1" />
                        <div ng-messages="drinkForm.drinkPrice.$error" multiple md-auto-hide="false">
                            <div ng-message="required">
                                Ovo polje je neophodno.
                            </div>
                            <div ng-message="min">
                                Cena pića mora biti minimalno 1 RSD.
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Tip pića</label>
                        <md-select name="drinkType" ng-model="drinkVm.drink.type" required>
                            <md-option ng-repeat="type in drinkVm.allowedTypes" value="{{type.db_value}}">
                                {{type.name}}
                            </md-option>
                        </md-select>
                        <div ng-messages="drinkForm.drinkType.$error">
                            <div ng-message="required">Neophodno je izabrati tip pića.</div>
                        </div>
                    </md-input-container>
                </form>
            </md-content>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-disabled="!drinkForm.$valid" class="md-raised md-primary" ng-click="drinkVm.createDrink();" md-autofocus>
            Potvrdi
        </md-button>
        <md-button class="md-raised md-default" ng-click="drinkVm.cancel()" md-autofocus>
            Odustani
        </md-button>
    </md-dialog-actions>

</md-dialog>
