<md-dialog aria-label="Report" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{reportVm.dialogName}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="reportVm.cancel()">
                <md-icon md-svg-src="images/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ng-hide="reportVm.invalidReport">
        <!-- display animation while user waits for report generation -->
        <div layout="column" ng-hide="reportVm.activated" style="height:300px;width:300px;">
            <md-progress-circular   ng-disabled="reportVm.activated"
                                    class="md-hue-3"
                                    md-mode="indeterminate"
                                    md-diameter="90"
                                    flex></md-progress-circular>
        </div>

        <div layout="column" ng-cloak>
            <md-content layout-padding>
                <div id="chart_div"></div>
                <p class="report-info">{{reportVm.message}}</p>
                <p class="report-info">{{reportVm.message_2}}</p>
            </md-content>
        </div>
    </md-dialog-content>

    <md-dialog-content ng-show="reportVm.invalidReport" style="margin:20px;">
        <p class="report-info">Trenutno nema dovoljno podataka za prikaz izveštaja.</p>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="reportVm.cancel()" md-autofocus>
            Zatvori
        </md-button>
    </md-dialog-actions>

</md-dialog>
