<md-dialog flex="70" aria-label="Rezervacija"  ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Rezervacija</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="restaurantVm.cancel()">
                <md-icon md-svg-src="images/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="reservation-dialog">
        <wizard on-finish="restaurantVm.finishReservation()">
          <wz-step wz-title="Odaberi vrijeme">
              <h1>Kada želite da rezervišete?</h1>
              <p> Odaberite datum kada želite da rezervišete. Nakon toga, unesite vrijeme početka Vaše rezervacije, kao i koliko sati želite da ostanete na rezervaciji. </p>
              <form name="reservationForm1">
                  <md-datepicker ng-model="restaurantVm.DateTime.date" style="background-color: #fff;"
                    md-placeholder="Odaberi datum" required></md-datepicker>

                <md-input-container class="md-block">
                    <md-icon aria-label="Time" class="material-icons">alarm</md-icon>
                    <label>časovi</label>
                    <input	name="scheduleStartHours" ng-model="restaurantVm.DateTime.hours"
                      type="number" step="1" min="0" max="23" required />
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label>minuti</label>
                    <md-icon aria-label="Time" class="material-icons">alarm</md-icon>
                      <input name="scheduleStartMinutes" ng-model="restaurantVm.DateTime.mins"
                        type="number" step="1" min="0" max="59" ng-model="restaurantVm.DateTime.mins" required />
                  </md-input-container>

                <md-input-container class="md-block">
                  <label>Trajanje</label>
                  <input required type="number" step="1" name="duration" ng-model="restaurantVm.reservation.length" min="1" max="6" />
                </md-input-container>

              <md-dialog-actions layout="row">
                  <span flex></span>
                  <md-button ng-disabled="!reservationForm1.$valid" ng-click="restaurantVm.continueReservation();">Nastavite...</md-button>
              </md-dialog-actions>
            </form>
          </wz-step>
          <wz-step wz-title="Odaberi stolove">
              <h1>Koje stolove želite da rezervišete?</h1>
              <div layout="column" id="canvas" class="restaurant-canvas" style="height:600px; widht=600px;">
                <div 	id="{{table.tableId != null ? table.tableId : table.tempId}}"
                    name="{{table.tableId != null ? table.tableId : table.tempId}}"
                    data-x="{{table.datax}}"
                    data-y="{{table.datay}}"
                    width="{{table.width + '%'}}"
                    height="{{table.height + '%'}}"
                    style="	top:{{table.datay + '%'}};
                            left: {{table.datax + '%'}};
                            height:{{table.height + '%'}};
                            width:{{table.width + '%'}};
                            background-color: {{table.color}};
                        "
                    class="restaurant-table"
                    layout="row"

                    ng-click="restaurantVm.selectTable(table.tableId);"
                    ng-repeat="table in restaurantVm.allTables">
                  <p flex layout="column" layout-align="center center" style="color:white; font-weight:bold;">{{table.tableInRestaurantNo}}</p>
                  <md-tooltip md-direction="bottom">
                    Sto broj  {{ table.tableId != null ? table.tableId : table.tempId }}
                  </md-tooltip>
                  <md-tooltip md-direction="right">
                    Pozicija  {{ table.positions }}
                  </md-tooltip>
                  <md-tooltip md-direction="left">
                    Region:  {{ table.region.name }}
                  </md-tooltip>
                </div>
              </div>
              <md-dialog-actions layout="row">
                  <span flex></span>
                  <md-button id="tableButton" ng-click="restaurantVm.saveReservation();">Nastavite...</md-button>
              </md-dialog-actions>
          </wz-step>
          <wz-step wz-title="Pozovi prijatelje">
              <h1>Koga želite da pozovete od prijatelja?</h1>
              <h4>Pozvali ste {{restaurantVm.guestsInvited}} od {{restaurantVm.guestsNumber}} prijatelja.</h4>
              <md-list>
                <md-list-item ng-repeat="friend in restaurantVm.currentUserFriends">
                  <img alt="{{ friend.firstName }}" ng-src="{{friend.image}}" class="md-avatar" />
                  <p>{{ friend.firstName + ' ' + friend.lastName }}</p>
                  <md-button ng-disabled="restaurantVm.guestsInvited >= restaurantVm.guestsNumber" ng-hide="friend.invited" ng-click="restaurantVm.inviteFriend(friend.userId);">Pozovi</md-button>
                </md-list-item>
              </md-list>
              <md-dialog-actions layout="row">
                  <span flex></span>
                  <md-button wz-next ng-click="restaurantVm.finishReservation();">Završi rezervaciju</md-button>
              </md-dialog-actions>
          </wz-step>
      </wizard>
    </md-dialog-content>
</md-dialog>
