<md-dialog flex="50" aria-label="Restoran"  ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-hide="restaurantVm.editState">Kreiraj novi restoran</h2>
            <h2 ng-hide="!restaurantVm.editState">Izmeni podatke o restoranu</h2>
            <span flex></span>

            <md-button class="md-icon-button" ng-click="restaurantVm.cancel()">
                <md-icon md-svg-src="images/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div layout="column" ng-cloak>
            <md-content layout-padding>
                <form name="restaurantForm">
                    <md-input-container class="md-block">
                        <label>Naziv restorana</label>
                        <input md-maxlength="45" required name="restaurantName" ng-model="restaurantVm.restaurant.name">
                        <div ng-messages="restaurantForm.restaurantName.$error">
                            <div ng-message="required">Ovo polje je obavezno.</div>
                            <div ng-message="md-maxlength">Naziv restorana mora biti kraći od 45 karaktera.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Opis</label>
                        <input md-maxlength="100" required md-no-asterisk name="restaurantInfo" ng-model="restaurantVm.restaurant.info">
                        <div ng-messages="restaurantForm.restaurantInfo.$error">
                            <div ng-message="required">Ovo polje je obavezno.</div>
                            <div ng-message="md-maxlength">Opis restorana mora biti kraći od 100 karaktera.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Tip</label>
                        <input md-maxlength="45" required md-no-asterisk name="restaurantType" ng-model="restaurantVm.restaurant.type">
                        <div ng-messages="restaurantForm.restaurantType.$error">
                            <div ng-message="required">Ovo polje je obavezno.</div>
                            <div ng-message="md-maxlength">Tip restorana mora biti kraći od 45 karaktera.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Adresa</label>
                        <input md-maxlength="100" required md-no-asterisk name="restaurantAddress" ng-model="restaurantVm.restaurant.address">
                        <div ng-messages="restaurantForm.restaurantAddress.$error">
                            <div ng-message="required">Ovo polje je obavezno.</div>
                            <div ng-message="md-maxlength">Adresa restorana mora biti kraća od 100 karaktera.</div>
                        </div>
                    </md-input-container>
                </form>
            </md-content>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-hide="!restaurantVm.editState" ng-disabled="!restaurantForm.$valid" class="md-raised md-primary" ng-click="restaurantVm.update()" md-autofocus>
            Potvrdi izmene
        </md-button>
        <md-button ng-hide="restaurantVm.editState" ng-disabled="!restaurantForm.$valid" class="md-raised md-primary" ng-click="restaurantVm.create()" md-autofocus>
            Potvrdi
        </md-button>
        <md-button class="md-raised md-default" ng-click="restaurantVm.cancel()">
            Odustani
        </md-button>
    </md-dialog-actions>

</md-dialog>
