<md-dialog flex="40" style="height: 80%;" aria-label="Restoran"  ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Dialog Zaposleni</h2>
            <span flex></span>

            <md-button class="md-icon-button" ng-click="employeeVm.cancel()">
                <md-icon md-svg-src="images/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content flex >
        <form name="employeeForm" style="padding: 10px 10px 10px 10px;">
            <md-input-container class="md-block">
                <label>Ime</label>
                <input md-maxlength="20" required name="employeeName" ng-model="employeeVm.employee.firstName">
                <div ng-messages="employeeForm.employeeName.$error">
                    <div ng-message="required">Ovo polje je obavezno.</div>
                    <div ng-message="md-maxlength">Ime radnika mora biti kraće od 20 karaktera.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Prezime</label>
                <input md-maxlength="30" required name="employeeSurname" ng-model="employeeVm.employee.lastName">
                <div ng-messages="employeeForm.employeeSurname.$error">
                    <div ng-message="required">Ovo polje je obavezno.</div>
                    <div ng-message="md-maxlength">Prezime radnika mora biti kraće od 30 karaktera.</div>
                </div>
            </md-input-container>

            <md-input-container ng-show="!employeeVm.editState" class="md-block">
                <label>E-mail adresa</label>
                <input required type="email" name="employeeEmail"
                       data-wc-unique="{key: customer.id, property: 'email'}"
                       minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" ng-model="employeeVm.employee.email" />
                <div ng-messages="employeeForm.employeeEmail.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        E-mail adresa je neispravna.
                    </div>
                    <div ng-message-exp="['unique']">
                        E-mail adresa već postoji.
                    </div>
                </div>
            </md-input-container>

            <div layout="row">

                <md-input-container ng-show="!employeeVm.editState" class="md-block">
                    <label>Tip zaposlenog</label>
                    <md-select ng-model="employeeVm.employee.type">
                        <md-option value="waiter">Konobar</md-option>
                        <md-option value="cook">Kuvar</md-option>
                        <md-option value="bartender">Šanker</md-option>
                    </md-select>
                </md-input-container>

                <md-datepicker  data-ng-model="employeeVm.employee.birthday" md-placeholder="Datum"></md-datepicker>
            </div>

            <!--md-input-container class="md-block">
                <label>Opis</label>
                <input md-maxlength="45" required md-no-asterisk name="employeeInfo" ng-model="employeeVm.employee.info">
                <div ng-messages="employeeForm.employeeInfo.$error">
                    <div ng-message="md-maxlength">Opis radnika mora biti kraći od 45 karaktera.</div>
                </div>
            </md-input-container-->


            <md-input-container class="md-block">
                <label>Veličina obuće</label>
                <input required type="number"  required name="employeeShoes" step="any" ng-model="employeeVm.employee.shoesSize" min="36" max="50"/>
                <div ng-messages="employeeForm.employeeShoes.$error">
                    <div ng-message="required">Ovo polje je obavezno.</div>
                    <div ng-message="min">Veličina obuće mora biti najmanje 36.</div>
                    <div ng-message="max">Veličina obuće ne može biti veća od 50.</div>
                </div>
            </md-input-container>

            <md-input-container style="margin-top: 0px !important; padding-top: 0px !important;" class="md-block">
                <div style="width:100%; height:30px;"  align="center" class="fond">
                    <table>
                        <tr>
                            <td  style="align-content: left; vertical-align:center; color: #000; nowrap:nowrap; "><h5 style="height: 30px; width: 150px; display: inline-block; font-weight:normal;" > Konfekcijski broj: </h5></td>
                            <td style="width: 100%;"><div style="width: 100%; height:30px; text-align: center">
                                <div class="style_prevu_kit"><p style="margin-top: 3px; outline: none;" ng-click="employeeVm.sizeClicked('M');"  ng-style="employeeVm.employee.dressSize === 'M' && {'color': '#FF4081'}" >M</p></div>
                                <div class="style_prevu_kit"><p style="margin-top: 3px; outline: none;" ng-click="employeeVm.sizeClicked('L');"  ng-style="employeeVm.employee.dressSize === 'L' && {'color': '#FF4081'}">L</p></div>
                                <div class="style_prevu_kit"><p style="margin-top: 3px; outline: none;" ng-click="employeeVm.sizeClicked('XL');"  ng-style="employeeVm.employee.dressSize === 'XL' && {'color': '#FF4081'}">XL</p></div>
                                <div class="style_prevu_kit"><p style="margin-top: 3px; outline: none;" ng-click="employeeVm.sizeClicked('XXL');"  ng-style="employeeVm.employee.dressSize === 'XXL' && {'color': '#FF4081'}">XXL</p></div>
                            </div></td>
                        </tr>
                    </table>
                </div>
            </md-input-container>
        </form>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-hide="!employeeVm.editState" ng-disabled="!employeeForm.$valid || employeeVm.employee.dressSize==null" class="md-raised md-primary" ng-click="employeeVm.update()" md-autofocus>
            Potvrdi izmjene
        </md-button>
        <md-button ng-hide="employeeVm.editState" ng-disabled="!employeeForm.$valid || employeeVm.employee.dressSize==null" class="md-raised md-primary" ng-click="employeeVm.create()" md-autofocus>
            Potvrdi
        </md-button>
        <md-button class="md-raised md-default" ng-click="employeeVm.cancel()">
            Odustani
        </md-button>
    </md-dialog-actions>

</md-dialog>
