<html ng-app="isa-mrs-project">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Baćova kuhinja</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/profile-employee.css">
    <link rel="stylesheet" href="/css/tables.css">
    <!--link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css"-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/angular-material/1.0.6/angular-material.css">
    <link rel="stylesheet" href="/webjars/angular-bootstrap-calendar/0.15.5/dist/css/angular-bootstrap-calendar.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    
    <script src="/webjars/angularjs/1.4.9/angular.js"></script>

    <!-- Additional native Angular libraries -->
    <script src="/webjars/angularjs/1.4.9/angular-animate.js"></script>
    <script src="/webjars/angularjs/1.4.9/angular-messages.js"></script>
    <script src="/webjars/angularjs/1.4.9/angular-resource.js"></script>
    <script src="/webjars/angularjs/1.4.9/angular-route.js"></script>
    <script src="/webjars/angularjs/1.4.9/angular-aria.js"></script>

    <!-- Angular Material library -->
    <script src="/webjars/angular-material/1.0.6/angular-material.js"></script>

    <!-- Angular Bootstrap Calendar dependencies -->
    <script src="/webjars/momentjs/2.12.0/moment.js"></script>
    <script src="/webjars/interact.js/1.2.4/interact.js"></script>
    <script src="/webjars/angular-ui-bootstrap/1.2.5/ui-bootstrap-tpls.js"></script>
    <script src="/webjars/angular-bootstrap-calendar/0.15.5/dist/js/angular-bootstrap-calendar-tpls.js"></script>

    <!-- jQuery library -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    
</head>
<body>
    <md-content ng-cloak>
        <md-toolbar ng-controller="ToolbarController as tbCtrl" class="md-hue-2">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Menu" ng-disabled="true">
              <md-icon aria-label="Menu" class="material-icons">menu</md-icon>
            </md-button>
            <h2>
              <span>Baćova kuhinja</span>
            </h2>
            <span flex></span>

            <md-button aria-label="Login" ng-hide="$root.show" ng-href="#/login">
              Prijavi se
            </md-button>
            <md-button aria-label="Sign up" ng-hide="$root.show" ng-href="#/register">
              Registruj se
            </md-button>

              <div  ng-if="$root.show" class="lock-size" layout="row" layout-align="center center" ng-cloak>
                  <md-fab-speed-dial md-open="tbCtrl.isOpen" md-direction="{{tbCtrl.selectedDirection}}"
                                     ng-class="tbCtrl.selectedMode">
                      <md-fab-trigger>
                          <md-button aria-label="menu" class="md-fab">
                              <md-icon class="material-icons">account_circle</md-icon>
                          </md-button>
                      </md-fab-trigger>
                      <md-fab-actions>
                          <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
                              <md-icon ng-click="tbCtrl.logout();" class="material-icons">exit_to_app</md-icon>
                          </md-button>
                          <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                              <md-icon ng-click="tbCtrl.profile();"  class="material-icons">account_circle</md-icon>
                          </md-button>
                      </md-fab-actions>
                  </md-fab-speed-dial>
              </div>
          </div>
        </md-toolbar>

        <div ng-view></div>

    </md-content>
    <!-- AngularJS App Init -->
    <script src="/js/app.module.js"></script>
    <script src="/js/app.route.js"></script>
    <!-- Controllers -->
    <script src="/js/controllers/login.controller.js"></script>
    <script src="/js/controllers/register.controller.js"></script>
    <script src="/js/controllers/profile-guest.controller.js"></script>
  	<script src="/js/controllers/profile-waiter.controller.js"></script>
  	<script src="/js/controllers/profile-cook.controller.js"></script>
  	<script src="/js/controllers/profile-barman.controller.js"></script>
  	<script src="/js/controllers/profile-system-manager.controller.js"></script>
    <script src="/js/controllers/profile-provider.controller.js"></script>
    <script src="/js/controllers/offer-request.controller.js"></script>
    <script src="/js/controllers/single-drink.controller.js"></script>
    <script src="/js/controllers/single-food.controller.js"></script>
    <script src="/js/controllers/profile-restaurant.controller.js"></script>
    <script src="/js/controllers/profile-restaurant-manager.controller.js"></script>
    <script src="/js/controllers/tables.controller.js"></script>
    <script src="/js/controllers/toolbar.controller.js"></script>
    <script src="/js/controllers/home.controller.js"></script>
    <!-- Dialog controllers -->
    <script src="/js/controllers/single-provider.controller.js"></script>
    <script src="/js/controllers/single-restaurant.controller.js"></script>
    <script src="/js/controllers/single-rmanager.controller.js"></script>
    <script src="/js/controllers/single-employee.controller.js"></script>
    <script src="/js/controllers/change-password.controller.js"></script>
    <script src="/js/controllers/add-order.controller.js"></script>
    <script src="/js/controllers/employee-schedule.controller.js"></script>
    <!-- Directives -->
    <script src="/js/directives/rating.directive.js"></script>
    <script src="/js/directives/rating-no-click.directive.js"></script>
    <script src="/js/directives/unique.directive.js"></script>
    <script src="/js/directives/match.directive.js"></script>
    <script src="/js/directives/pass-match.directive.js"></script>
    <!-- Services -->
    <script src="js/services/unique.service.js"></script>
    <script src="js/services/login.service.js"></script>
    <script src="js/services/restaurant.service.js"></script>
    <script src="js/services/provider.service.js"></script>
    <script src="js/services/guest.service.js"></script>
    <script src="js/services/user.service.js"></script>
    <script src="js/services/rmanager.service.js"></script>
    <script src="js/services/smanager.service.js"></script>
    <script src="js/services/employee.service.js"></script>
    <script src="js/services/cook.service.js"></script>
    <script src="js/services/bartender.service.js"></script>
    <script src="js/services/waiter.service.js"></script>
    <script src="js/services/food.service.js"></script>
    <script src="js/services/drink.service.js"></script>
    <script src="js/services/password.service.js"></script>
    <script src="js/services/table.service.js"></script>
    <script src="js/services/region.service.js"></script>
    <script src="js/services/review.service.js"></script>
</body>
</html>
