<md-content>
  <div class='md-padding' layout="row" layout-wrap>
    <md-card style="width: 312px;" ng-repeat="restaurant in homeVm.restaurants">
      <md-card-content>
        <img ng-src="{{restaurant.image}}" class="md-card-image" alt="{{restaurant.name}}" height="270px;" width="100%">
        <h2>{{restaurant.name}}</h2>
        <div class="rating-item">
          <!--div ng-init="visit.rating_restaurant"></div-->
          <div class="star-rating" star-rating-no-click rating-value="4" data-max="5"></div>
        </div>
        <p>{{restaurant.info}}</p>
      </md-card-content>
      <md-card-footer>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button ng-click="homeVm.showReservationDialog();">Rezerviši</md-button>
          <md-button ng-click="homeVm.showDetails(restaurant.restaurantId);">Pogledaj detalje</md-button>
        </div>
      </md-card-footer>
    </md-card>
  </div>
</md-content>