<div layout="row" layout-xs="column" class="image-background">
  <div flex-gt-sm="70" class="title-content">
    <h2>ISA MRS Projekat <b>TeamOne</b></h2>
    <p class="large-text">
      <h4>OTKRIJ</h4>
      Pogledajte listu restorana u Vašoj okolini.<br/>
      Vaši prijatelji su ocijenili neke restorane da bi Vam pomogli.
      <h4>REZERVIŠI</h4>
      Rezervišite Vaše mjesto u restoranu za bilo koji datum.<br/>
      Ne čekajte zadnji trenutak za uživanje u večeri sa vama dragim osobama.
      <h4>NARUČI</h4>
      Naručite hranu da Vas bude spremna za Vas kada dođete.<br/>
      Ne gubite dragocjeno vrijeme u čekanju.
      <h4>PODIJELI</h4>
      Podijelite sa Vašim prijateljima rezervaciju.<br/>
      Pozovite ih i sačekajte da Vam se pridruže.
    </p>
  </div>
  
  <div flex-gt-sm="30" class="form-content">
    <div class="form-header">
      <h4>Prijavi se</h4>
      <p>Popunite formu ispod da biste dobili pristup aplikaciji...</p>
    </div>
    <form class="form-body" ng-submit="loginVm.login()">
      <div class="alert alert-danger" ng-show="loginVm.invalid && loginVm.credentials.password == ''"><h4>Ne postoji korisnik sa unesenom e-mail adresom i lozinkom.</h4></div>
      <md-input-container class="md-block">
        <label>Vaš e-mail</label>
        <md-icon aria-label="Email" class="material-icons">mail_outline</md-icon>
        <input type="email" name="userEmail" ng-model="loginVm.credentials.email">
      </md-input-container>
      
      <md-input-container class="md-block">
        <label>Vaša lozinka</label>
        <md-icon aria-label="Password" class="material-icons">lock_outline</md-icon>
        <input type="password" name="userPassword" ng-model="loginVm.credentials.password"/>
      </md-input-container>
      
      <md-input-container class="md-block">
        <md-checkbox aria-label="Remember me">
          Zapamti me
        </md-checkbox>
        <div class="align-right">
          <md-button type="submit" class="md-raised md-primary">Prijavi se</md-button>
        </div>
      </md-input-container>
      
      <div class="form-text-bottom">
        Nemate nalog? <a href="#register">Registruj se</a> sada!
      </div>
    </form>
  </div>
</div>