<div layout="row">
	<div flex-gt-sm="70" class="main-content">
		<md-toolbar scroll>
			<div class="md-toolbar-tools">
				<h3 md-header-title flex>Profil kuvara</h3>
				<md-button class="md-icon-button" aria-label="Notification">
					<md-icon aria-label="Notification" class="material-icons">local_dining</md-icon>
				</md-button>
				<md-button class="md-icon-button" aria-label="More">
					<md-icon aria-label="More" class="material-icons">more_vert</md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<div layout="column">
			<div layout="row" layout-xs="column">
				<div flex class="content">
					<img alt="Sergio Ramos" src="../images/profile.jpg" class="md-avatar" />
				</div>
				<div flex class="content">
					<h2> Ime </h2>
					<h4> sergioramos@doktor.com </h4>
				</div>
			</div>
		</div>
	</div>

	<div flex-gt-sm="30" layout="column" class="main-content">
		<md-toolbar scroll>
			<div class="md-toolbar-tools">
				<h3 md-header-title flex>Aktivnosti</h3>
			</div>
		</md-toolbar>

		<div layout="column">
			<div style="padding-right: 12px; padding-left:5px;">
				<div class="option">
					<md-button class="action-empl"> <i class="material-icons md-48">event</i> </md-button>
					<h4>Pregled rasporeda rada</h4>
				</div>
				<hr>
				<div class="option">
					<md-button ng-click="cookProfileVm.editProfile()" class="action-empl"> <i class="material-icons md-48">mode_edit</i> </md-button>
					<h4> Ažuriranje profila</h4>
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>

<div ng-cloak>
	<md-content>
		<md-tabs class="md-primary" md-dynamic-height md-border-bottom>
			<md-tab label="Pristigla jela">
				<md-content class="md-padding">
					<div layout="row" layout-wrap>
						<div class='md-padding' layout="row" ng-repeat="meal in cookProfileVm.waitingMeals" layout-wrap>

							<md-card class="order-item">
								<img ng-src="{{meal.img_src}}" class="md-card-image order-img">
								
								<md-card-content>
									<h4>{{meal.name}}</h4>
									<md-button aria-label="hidden" style="visibility: hidden;"></md-button>
								</md-card-content>
								
								<md-card-actions class="order-btns" layout="row" layout-align="center end">
									<md-button class="md-raised">Detalji</md-button>
									<md-button class="md-raised md-primary">Prihvati</md-button>
								</md-card-actions>
							</md-card>
							
						</div>			
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Jela u izradi">
				<md-content class="md-padding">
					<div layout="row" layout-wrap>
						<div class='md-padding' layout="row" ng-repeat="meal in cookProfileVm.preparingMeals" layout-wrap>

							<md-card class="order-item">
								<img ng-src="{{meal.img_src}}" class="md-card-image order-img">
								
								<md-card-content>
									<h4>{{meal.name}}</h4>
									<md-button aria-label="hidden" style="visibility: hidden;"></md-button>
								</md-card-content>
								
								<md-card-actions class="order-btns" layout="row" layout-align="center end">
									<md-button class="md-raised">Detalji</md-button>
									<md-button class="md-raised md-primary">Notifikuj</md-button>
								</md-card-actions>
							</md-card>
							
						</div>			
					</div>

				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>
