<div id="upper" layout="row">
	<div flex-gt-sm="70" class="main-content">
		<md-toolbar scroll>
			<div class="md-toolbar-tools">
				<h3 md-header-title flex>Profil menadžera restorana</h3>
				<md-button class="md-icon-button" aria-label="Notification">
					<md-icon aria-label="Notification" class="material-icons">plus_one</md-icon>
				</md-button>
				<md-button class="md-icon-button" aria-label="More">
					<md-icon aria-label="More" class="material-icons">more_vert</md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<div layout="column">
			<div layout="row" layout-xs="column">
				<div flex class="content">
					<img alt="{{rmanagerVm.rmanager.firstName}}" src="{{rmanagerVm.rmanager.image}}" class="md-avatar" height="340px" width="340px"/>
				</div>
				<div flex class="content">
					<h2> {{rmanagerVm.rmanager.firstName + ' ' + rmanagerVm.rmanager.lastName}} </h2>
					<h4> {{rmanagerVm.rmanager.email}} </h4>
				</div>
			</div>
		</div>
	</div>

	<div flex-gt-sm="30" layout="column" class="main-content">
		<md-toolbar scroll>
			<div class="md-toolbar-tools">
				<h3 md-header-title flex>Aktivnosti</h3>
			</div>
		</md-toolbar>

		<div layout="column">
			<div style="padding-right: 12px; padding-left:5px; background-color:white;">
                <div class="option">
					<md-button 	ng-click="rmanagerVm.updateRestaurant();"
								class="action-empl md-raised md-primary"> <i class="material-icons md-48">business</i> </md-button>
					<h4> Izmena podataka o restoranu </h4>
				</div>
				<hr>
				<div class="option">
					<md-button ng-disabled="true" class="action-empl md-raised md-primary"> <i class="material-icons md-48">supervisor_account</i> </md-button>
					<h4> Registrovanje zaposlenog </h4>
				</div>
				<hr>
				<div class="option">
					<md-button 	ng-click="rmanagerVm.createFood();"
					 			class="action-empl md-raised md-primary"> <i class="material-icons md-48">restaurant_menu</i> </md-button>
					<h4> Dodavanje novog jela </h4>
				</div>
				<hr>
				<div class="option">
					<md-button 	ng-click="rmanagerVm.createDrink();"
								class="action-empl md-raised md-primary"> <i class="material-icons md-48">local_bar</i> </md-button>
					<h4> Dodavanje novog pića </h4>
				</div>
				<hr>
				<div class="option">
					<md-button ng-disabled="true" class="action-empl md-raised md-primary"> <i class="material-icons md-48">mode_edit</i> </md-button>
					<h4> Ažuriranje profila</h4>
				</div>

			</div>
		</div>
	</div>
</div>

<div id="down" style="margin-top:15px"ng-cloak>
  <md-content>
    <md-tabs id="tabs" class="md-primary" md-dynamic-height md-border-bottom md-selected="rmanagerVm.tabs.selected">
        <md-tab label="Informacije o restoranu">
          <md-content class="md-padding" style="font-size:120%;">
			  	<!-- NEEDS TO BE CHANGED -->
                <p><em style="color:grey; font-size:100%;">Naziv: </em> {{rmanagerVm.rmanager.restaurant.name}}</p>
				<p><em style="color:grey; font-size:100%;">Vrsta: </em> {{rmanagerVm.rmanager.restaurant.type}}</p>
				<p><em style="color:grey; font-size:100%;">Opis: </em> {{rmanagerVm.rmanager.restaurant.info}}</p>
				<p><em style="color:grey; font-size:100%;">Radno vreme: </em> {{rmanagerVm.rmanager.restaurant.startTime + 'h - ' + rmanagerVm.rmanager.restaurant.endTime + 'h'}}</p>
          </md-content>
        </md-tab>
          <md-tab label="Jelovnik">
            <md-content class="md-padding">

            <div layout="row" layout-wrap>
              <div class='md-padding' layout="row" ng-repeat="meal in rmanagerVm.rmanager.restaurant.foodMenu" layout-wrap>

                  <md-card class="order-item">
                        <img src="{{meal.image}}" class="md-card-image order-img">

                        <md-card-content>
                            <h4>{{meal.name}}</h4>
                            <p class="md-primary" style="color:grey">{{meal.info}}</p>
                            <md-button style="visibility: hidden;"></md-button>
                        </md-card-content>

                        <md-card-actions class="order-btns" layout="row" layout-align="center center">
                            <md-button class="md-primary"><i class="material-icons md-16">attach_money</i> cena jela: {{meal.price}}</md-button>
                        </md-card-actions>
                  </md-card>

              </div>
            </div>
            </md-content>
          </md-tab>
      <md-tab label="Karta pića">
          <md-content class="md-padding">

          <div layout="row" layout-wrap>
            <div class='md-padding' layout="row" ng-repeat="drink in rmanagerVm.rmanager.restaurant.drinksMenu" layout-wrap>

                <md-card class="order-item">
                      <img src="{{drink.image}}" class="md-card-image order-img">

                      <md-card-content>
                          <h4>{{drink.name}}</h4>
                          <p class="md-primary" style="color:grey">{{drink.info}}</p>
                          <md-button style="visibility: hidden;"></md-button>
                      </md-card-content>

                      <md-card-actions class="order-btns" layout="row" layout-align="center center">
                          <md-button class="md-primary"><i class="material-icons md-16">attach_money</i> cena pića: {{drink.price}}</md-button>
                      </md-card-actions>
                </md-card>

            </div>
          </div>
          </md-content>
      </md-tab>

      <md-tab label="Spisak zaposlenih">
        <md-content class="md-padding">
              <md-subheader class="md-no-sticky">Trenutno nema zaposlenih</md-subheader>
        </md-content>
      </md-tab>

	  <md-tab label="Raspored stolova">
        <md-content layout="row" class="md-padding" ng-controller="TablesController as tablesVm">
            <div  layout="column" id="canvas" class="restaurant-canvas" >
				<div 	id="{{table.tableId != null ? table.tableId : table.tempId}}"
						name="{{table.tableId != null ? table.tableId : table.tempId}}"
						data-x="{{table.datax + 'px'}}"
						data-y="{{table.datay + 'px'}}"
						style="	transform: translate({{table.datax + 'px'}}, {{table.datay + 'px'}});
								height:{{table.height}};
								width:{{table.width}};
							  "
						class="restaurant-table {{tablesVm.tableColors[table.region.regionNo - 1]}}"
						layout="row"
						ng-repeat="table in tablesVm.tables">
					<p flex layout="column" layout-align="center center" style="color:white; font-weight:bold;">{{table.tableInRestaurantNo}}</p>
					<md-tooltip md-direction="bottom">
						Sto broj  {{ table.tableId != null ? table.tableId : table.tempId }}
					</md-tooltip>
					<md-tooltip md-direction="right">
						Pozicija  {{ table.positions }}
					</md-tooltip>
					<md-tooltip md-direction="left">
						Region:  {{ table.region.name }}
					</md-tooltip>

				</div>

			</div>
			<div layout="column" style="margin-top: 50px;">
				<div layout="row">
					<md-button ng-hide="!tablesVm.enabledEdit" ng-click="tablesVm.saveChanges();" class="md-fab md-primary md-raised">
						<i class="material-icons md-36">save</i>
						<md-tooltip md-direction="right">
          					Sačuvaj izmene
        				</md-tooltip>
					</md-button>

				</div>
				<div layout="row">
					<md-button ng-hide="!tablesVm.enabledEdit" ng-click="tablesVm.cancelChanges();" class="md-fab md-accent md-raised">
						<i class="material-icons md-36">cancel</i>
						<md-tooltip md-direction="right">
          					Poništi sve izmene
        				</md-tooltip>
					</md-button>
				</div>
				<div layout="row">
					<md-button ng-hide="!tablesVm.enabledEdit" ng-click="tablesVm.showInfo($event);" class="md-fab md-default md-raised">
						<i class="material-icons md-36">info</i>
						<md-tooltip md-direction="right">
          					Uputstvo za korišćenje
        				</md-tooltip>
					</md-button>
				</div>
				<div layout="row">
					<md-button ng-hide="tablesVm.enabledEdit" ng-click="tablesVm.switchCanvasState();" class="md-fab md-primary md-raised">
						<i class="material-icons md-36">edit</i>
						<md-tooltip md-direction="right">
          					Izmeni trenutni raspored stolova
        				</md-tooltip>
					</md-button>
				</div>

			</div>
			<div layout="column" style="margin-top: 50px;">

				<div layout="row">
					<md-button ng-click="tablesVm.addNewRegion();" class="md-fab md-primary md-raised">
						<i class="material-icons md-36">add</i>
						<md-tooltip md-direction="right">
          					Dodaj region
        				</md-tooltip>
					</md-button>
				</div>

			</div>

			<div layout="column" class="restaurant-regions">

					<div layout="row" class="region-tab" layout-align="center center"
						ng-repeat="region in tablesVm.regions track by $index" style="background-color:{{region.color}}">
							<div 	layout="column"
									ng-hide="tablesVm.regionEditFields[$index]"
									flex>
								<h4 style="color:white;">{{region.name}}</h4>
							</div>

							<md-input-container class="md-block" flex-gt-xs
								ng-show="tablesVm.regionEditFields[$index]">
            					<label>Naziv regiona</label>
            					<input ng-model="tablesVm.regions[$index].name" >
          					</md-input-container>

							<div layout="column" layout-align="center end">
								<md-button  class="md-fab md-mini md-default md-raised"
											ng-click="tablesVm.regionEditFields[$index] = true"
											ng-hide="tablesVm.regionEditFields[$index]">
   		   							<i class="material-icons md-24">edit</i>
   		   							<md-tooltip md-direction="right">
   		             					Izmeni region
   		           					</md-tooltip>
   		   						</md-button>

								<md-button  class="md-fab md-mini md-default md-raised"
											ng-show="tablesVm.regionEditFields[$index]"
											ng-click="tablesVm.saveRegion($index)">
   		   							<i class="material-icons md-24">save</i>
   		   							<md-tooltip md-direction="right">
   		             					Sačuvaj
   		           					</md-tooltip>
   		   						</md-button>
								<md-button  class="md-fab md-mini md-default md-raised"
											ng-click="tablesVm.regionEditFields[$index] = false"
											ng-show="tablesVm.regionEditFields[$index]"
											ng-click="tablesVm.deleteRegion($index)">
   		   							<i class="material-icons md-24">delete_forever</i>
   		   							<md-tooltip md-direction="right">
   		             					Obriši region
   		           					</md-tooltip>
   		   						</md-button>
							</div>
	                </div>



			</div>


		</md-content>
      </md-tab>

    </md-tabs>
  </md-content>

</div>
