<div id="wrapper" layout="row">

	<section layout="column">
		<md-sidenav
				class="md-sidenav-left"
				md-component-id="left"
				md-is-locked-open="true"
				md-disable-backdrop
				md-whiteframe="4"
				style="height:100%"
		>
			<!-- Name and image -->
			<md-toolbar class="md-hue-2" style="height: 100%;">
				<div layout="row" layout-align="end start">
					<md-button 	class="md-icon-button" aria-label="Change image"
								  flow-files-submitted="rmanagerVm.upload($flow)"
								  flow-attrs="{accept:'image/*'}"
								  flow-btn>
						<md-icon class="material-icons">add_a_photo</md-icon>
						<md-tooltip>
							Promeni fotografiju
						</md-tooltip>
					</md-button>
				</div>
				<div layout="column" layout-align="center center">
					<img
							alt="{{barmanProfileVm.barman.firstName}}"
							ng-src="{{barmanProfileVm.barman.image}}"
							class="img-circle"
					/>
					<h2>{{barmanProfileVm.barman.firstName + ' ' + barmanProfileVm.barman.lastName}}</h2>
				</div>
			</md-toolbar>
			<md-divider></md-divider>

			<!-- Account info -->
			<div layout="column" style="height: 100%; margin-left: 5px;" layout-align="center start" class="additional-info">
				<div layout="row" layout-align="center center">
					<md-icon class="material-icons">mail_outline
						<md-tooltip md-direction="top">
							Email
						</md-tooltip>
					</md-icon>
					<h4>&nbsp;&nbsp;{{barmanProfileVm.barman.email}}</h4>
				</div>
				<div layout="row" layout-align="center center">
					<md-icon class="material-icons">date_range
						<md-tooltip md-direction="top">
							Datum rođenja
						</md-tooltip>
					</md-icon>
					<h4 >&nbsp;&nbsp;{{barmanProfileVm.barman.birthday | date: 'longDate' }}</h4>
				</div>
				<div layout="row" layout-align="center center">
					<md-icon class="material-icons">style
						<md-tooltip md-direction="top">
							broj cipela
						</md-tooltip>
					</md-icon>
					<h4 >&nbsp;&nbsp;{{barmanProfileVm.barman.shoesSize}}</h4>
				</div>
				<div layout="row"  layout-align="center center">
					<md-icon class="material-icons">style
						<md-tooltip md-direction="top">
							konfekcijski broj
						</md-tooltip>
					</md-icon>
					<h4>&nbsp;&nbsp;{{barmanProfileVm.barman.dressSize}}</h4>
				</div>
			</div>

			<!-- Actions -->
			<md-divider></md-divider>
			<md-content flex style="min-height:270px;">
				<md-menu-content>
					<md-menu-item class="md-indent">
						<md-button 	class="md-primary"
									  ng-click="barmanProfileVm.editProfile();">
							<md-icon class="material-icons">account_circle</md-icon>
							<strong>Ažuriranje profila</strong>
						</md-button>
					</md-menu-item>
					<md-divider></md-divider>
					<md-menu-item class="md-indent">
						<md-button 	class="md-primary"
									  ng-click="barmanProfileVm.openSchedule()">
							<md-icon class="material-icons">event</md-icon>
							<strong>Pregled rasporeda rada</strong>
						</md-button>
					</md-menu-item>
					<md-divider></md-divider>
					<md-menu-item class="md-indent">
						<md-button 	class="md-primary"
									  ng-click="barmanProfileVm.changePassword(true);">
							<md-icon class="material-icons">lock</md-icon>
							<strong>Izmjena lozinke</strong>
						</md-button>
					</md-menu-item>
					<md-divider></md-divider>
					<md-menu-item class="md-indent">
						<md-button 	class="md-primary">
							<md-icon class="material-icons">exit_to_app</md-icon>
							<strong>Odjavi se</strong>
						</md-button>
					</md-menu-item>
					<md-divider></md-divider>
				</md-menu-content>
			</md-content>

		</md-sidenav>
	</section>

	<!-- Tabs -->
	<div id="right" style="margin-left:3px; margin-top:3px;" flex>
		<md-content>
			<md-tabs class="md-primary" md-dynamic-height md-border-bottom ng-click="barmanProfileVm.clickOnTab();" md-selected="barmanProfileVm.selectedTab">
				<md-tab>
					<md-tab-label>
						Pristigla pića&nbsp;&nbsp;&nbsp;<span class="item-badge" ng-show="barmanProfileVm.notNo!=-1">{{barmanProfileVm.notNo}}</span>
					</md-tab-label>
					<md-tab-body>
						<md-content class="md-padding">
							<p ng-show="barmanProfileVm.waitingDrinks.length == 0;"> Nema pristiglih pića za izradu. </p>

							<div ng-show="barmanProfileVm.waitingDrinks.length != 0;" layout="row" layout-wrap>
								<div class='md-padding' layout="row" ng-repeat="drink in barmanProfileVm.waitingDrinks" layout-wrap>

									<md-card class="order-item">
										<md-card-content>
											<img ng-src="{{drink.menuItem.image}}" class="md-card-image order-img">
											<h4>{{drink.menuItem.name}}</h4>
											<p><md-icon class="material-icons">local_bar</md-icon> količina:{{drink.amount}}</p>
											<md-button aria-label="hidden" style="visibility: hidden;"></md-button>
										</md-card-content>

										<md-card-actions class="order-btns" layout="row" layout-align="center end">
											<md-button class="md-raised" ng-disabled="true">Detalji</md-button>
											<md-button class="md-raised md-primary" ng-click="barmanProfileVm.prepareDrink(drink.itemId);">Prihvati</md-button>
										</md-card-actions>
									</md-card>

								</div>
							</div>
						</md-content>
					</md-tab-body>
				</md-tab>
				<md-tab label="Pića u izradi">
					<md-content class="md-padding">
						<p ng-show="barmanProfileVm.preparingDrinks.length == 0;"> Nema prihvaćenih pića za izradu. </p>

						<div ng-show="barmanProfileVm.preparingDrinks.length != 0;" layout="row" layout-wrap>
							<div class='md-padding' layout="row" ng-repeat="drink in barmanProfileVm.preparingDrinks" layout-wrap>
								<md-card class="order-item">
									<md-card-content>
										<img ng-src="{{drink.menuItem.image}}" class="md-card-image order-img">
										<h4>{{drink.menuItem.name}}</h4>
										<p><md-icon class="material-icons">local_bar</md-icon> količina:{{drink.amount}}</p>
										<md-button aria-label="hidden" style="visibility: hidden;"></md-button>
									</md-card-content>

									<md-card-actions class="order-btns" layout="row" layout-align="center end">
										<md-button class="md-raised" ng-disabled="true">Detalji</md-button>
										<md-button class="md-raised md-primary" ng-click="barmanProfileVm.finishDrink(drink.itemId);">Notifikuj</md-button>
									</md-card-actions>
								</md-card>

							</div>
						</div>

					</md-content>
				</md-tab>
			</md-tabs>
		</md-content>
	</div>

</div>


