<div layout="row">
	<div flex-gt-sm="70" class="main-content">
		<md-toolbar scroll>
			<div class="md-toolbar-tools">
				<h3 md-header-title flex>Profil menadžera</h3>
				<md-button class="md-icon-button" aria-label="Notification">
					<md-icon aria-label="Notification" class="material-icons">plus_one</md-icon>
				</md-button>
				<md-button class="md-icon-button" aria-label="More">
					<md-icon aria-label="More" class="material-icons">more_vert</md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<div layout="column">
			<div layout="row" layout-xs="column">
				<div flex class="content">
					<img alt="Sergio Ramos" src="../images/profile.jpg" class="md-avatar" />
				</div>
				<div flex class="content">
					<h2> Ime </h2>
					<h4> sergioramos@doktor.com </h4>
				</div>
			</div>
		</div>
	</div>

	<div flex-gt-sm="30" layout="column" class="main-content">
		<md-toolbar scroll>
			<div class="md-toolbar-tools">
				<h3 md-header-title flex>Aktivnosti</h3>
			</div>
		</md-toolbar>

		<div layout="column">
			<div style="padding-right: 12px; padding-left:5px;">
				<div class="option">
					<md-button class="action-empl"> <i class="material-icons md-48">supervisor_account</i> </md-button>
					<h4> Registrovanje menadžera restorana</h4>
				</div>
				<hr>
				<div class="option">
					<md-button ng-click="systemManagerProfileVm.addRestaurant()" class="action-empl"> <i class="material-icons md-48">restaurant_menu</i> </md-button>
					<h4> Dodavanje novog restorana </h4>
				</div>
				<hr>
				<div class="option">
					<md-button class="action-empl" ng-click="systemManagerProfileVm.addProvider()"> <i class="material-icons md-48">assignment_ind</i> </md-button>
					<h4> Registrovanje provajdera </h4>
				</div>
				<hr>
				<div class="option">
					<md-button class="action-empl"> <i class="material-icons md-48">mode_edit</i> </md-button>
					<h4> Ažuriranje profila</h4>
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>

<div class="notification-list" style="margin-top: 12px;">
	<md-toolbar ng-show="!showSearch">
		<div class="md-toolbar-tools">
			<h3>
				Registrovani restorani
			</h3>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Search" ng-click="showSearch = !showSearch">
				<md-icon aria-label="Search" class="material-icons">search</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-toolbar ng-show="showSearch">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" ng-click="showSearch = !showSearch" aria-label="Back">
				<md-icon aria-label="Back" class="material-icons">arrow_back</md-icon>
			</md-button>
			<md-input-container flex>
				<input ng-model="rest_name" placeholder="Traži po imenu">
			</md-input-container>
			<md-button class="md-icon-button" aria-label="Search" ng-click="showSearch = !showSearch">
				<md-icon aria-label="Search" class="material-icons">search</md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<div class="row">
		<ul class="equal-height-thumbnail">
			<li class="order" ng-repeat="restaurant in systemManagerProfileVm.restaurants">
				<figure><img ng-src="http://www.mulhollandav.com/wp-content/uploads/2015/02/Rest-22.jpg" class="order-img" alt="Equal height of thumbnail"></figure>
				<div class="caption-waiter">
					<h4>{{restaurant.name}}</h4>
					<p class="desk-num-rest"> <i class="material-icons md-16">restaurant_menu</i>broj stolova : 4 <p/>
				</div>
			</li>
		</ul>

	</div>
</div>
