<div layout="row">
    <div flex-gt-sm="70" class="main-content">
        <md-toolbar scroll>
            <div class="md-toolbar-tools">
                <h3 md-header-title flex>Profil restorana</h3>
                <md-button ng-disabled="true" class="md-raised md-accent" aria-label="Prikaži na mapi">
                    Prikaži na mapi
                </md-button>
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon aria-label="More" class="material-icons">more_vert</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <div layout="row">
            <div class="bg-image" flex>
                <img src="images/background.jpg" alt="Restaurant image"/>
                <h1>{{restaurantVm.restaurant.name}}</h1>
            </div>
            <div layout="column" flex>
                <md-content class="md-padding" flex>
                    <md-header class="add-info-header"> <i class="material-icons md-36">restaurant_menu</i>&nbsp;&nbsp;Vrsta restorana</md-header>
                    <p class="add-info-details"> {{restaurantVm.restaurant.type}} </p>
                    <md-header class="add-info-header"><i class="material-icons md-36">query_builder</i>&nbsp;&nbsp;Radno vreme</md-header>
                    <p class="add-info-details"> {{restaurantVm.worktime}} </p>
                    <md-header class="add-info-header"> <i class="material-icons md-36">info_outline</i>&nbsp;&nbsp;Informacije</md-header>
                    <p class="add-info-details"> {{restaurantVm.restaurant.info}} </p>
                </md-content>
            </div>
        </div>
    </div>
    <div flex-gt-sm="30" layout="column" class="main-content">
        <md-toolbar scroll>
            <div class="md-toolbar-tools">
                <h3 md-header-title flex>Aktivnosti</h3>
            </div>
        </md-toolbar>

        <div layout="column">
            <div style="padding-right: 12px; padding-left:5px; background-color:white">
                <div class="option">
                    <md-button ng-disabled="true" ng-click="restaurantVm.test();" class="action-empl md-raised md-primary"> <i class="material-icons md-48">restaurant_menu</i> </md-button>
                    <h4> Dodavanje novog restorana - test</h4>
                </div>
                <hr>
                <div class="option">
                    <md-button ng-click="restaurantVm.showReservationDialog();" class="action-empl md-raised md-primary"> <i class="material-icons md-48">bookmark_border</i> </md-button>
                    <h4>Rezerviši</h4>
                </div>
                <hr>
                <div class="option" ng-show="restaurantVm.addManagerOption">
                    <md-button ng-click="restaurantVm.addRestaurantManager()" class="action-empl md-raised md-primary"> <i class="material-icons md-48">supervisor_account</i> </md-button>
                    <h4> Registrovanje menadžera restorana</h4>
                </div>
                <hr ng-show="restaurantVm.addManagerOption">
            </div>
        </div>
    </div>
</div>

<div style="margin-top:15px"ng-cloak>
  <md-content>
    <md-tabs class="md-primary" md-dynamic-height md-border-bottom>
      <md-tab label="Jelovnik">
        <md-content class="md-padding">

        <div layout="row" layout-wrap>
          <div class='md-padding' layout="row" ng-repeat="meal in restaurantVm.restaurant.foodMenu" layout-wrap>

              <md-card class="order-item">
                    <img src="{{meal.image}}" class="md-card-image order-img">

                    <md-card-content>
                        <h4>{{meal.name}}</h4>
                        <p class="md-primary" style="color:grey">{{meal.info}}</p>
                        <md-button style="visibility: hidden;"></md-button>
                    </md-card-content>

                    <md-card-actions class="order-btns" layout="row" layout-align="center center">
                        <md-button class="md-primary"><i class="material-icons md-16">attach_money</i> cena jela: {{meal.price}}</md-button>
                    </md-card-actions>
              </md-card>

          </div>
        </div>
        </md-content>
      </md-tab>
      <md-tab label="Karta pića">
          <md-content class="md-padding">

          <div layout="row" layout-wrap>
            <div class='md-padding' layout="row" ng-repeat="drink in restaurantVm.restaurant.drinksMenu" layout-wrap>

                <md-card class="order-item">
                      <img src="{{drink.image}}" class="md-card-image order-img">

                      <md-card-content>
                          <h4>{{drink.name}}</h4>
                          <p class="md-primary" style="color:grey">{{drink.info}}</p>
                          <md-button style="visibility: hidden;"></md-button>
                      </md-card-content>

                      <md-card-actions class="order-btns" layout="row" layout-align="center center">
                          <md-button class="md-primary"><i class="material-icons md-16">attach_money</i> cena pića: {{drink.price}}</md-button>
                      </md-card-actions>
                </md-card>

            </div>
          </div>
          </md-content>
      </md-tab>

      <md-tab label="Utisci gostiju">
        <md-content class="md-padding">
            <md-subheader class="md-no-sticky">Trenutno nema ostavljenih ocena restorana.</md-subheader>
            
            <div style="padding: 5 40" ng-repeat="review in restaurantVm.reviews">
              <p>{{review.reviewer.firstName + ' ' + review.reviewer.lastName}}
              <div layout-gt-sm="row" layout="column">
                <div class="rating-item" flex>
                  Restoran:
                  <div ng-init="review.restaurantRate"></div>
                  <div class="star-rating" star-rating-no-click rating-value="review.restaurantRate" data-max="5"></div>
                </div>

                <div class="rating-item" flex>
                  Usluga:
                  <div ng-init="review.serviceRate"></div>
                  <div class="star-rating" star-rating-no-click rating-value="review.serviceRate" data-max="5"></div>
                </div>
                
                <div class="rating-item" flex>
                  Hrana:
                  <div ng-init="review.foodRate"></div>
                  <div class="star-rating" star-rating-no-click rating-value="review.foodRate" data-max="5"></div>
                </div>
                
              </div>
              <p>{{review.comment}}</p>
            </div>
            <p><b> Vaš komentar: </b></p>
            <div style="padding: 5 40">
              <div layout-gt-sm="row" layout="column">
                <div class="rating-item" flex>
                  Restoran:
                  <div ng-init="restaurantVm.review.restaurantRate"></div>
                  <div class="star-rating" star-rating rating-value="restaurantVm.review.restaurantRate" data-max="5" on-rating-selected="rateFunction(rating)"></div>
                </div>

                <div class="rating-item" flex>
                  Usluga:
                  <div ng-init="restaurantVm.review.serviceRate"></div>
                  <div class="star-rating" star-rating rating-value="restaurantVm.review.serviceRate" data-max="5" on-rating-selected="rateFunction(rating)"></div>
                </div>
                
                <div class="rating-item" flex>
                  Hrana:
                  <div ng-init="restaurantVm.review.foodRate"></div>
                  <div class="star-rating" star-rating rating-value="restaurantVm.review.foodRate" data-max="5" on-rating-selected="rateFunction(rating)"></div>
                </div>
              </div>
                
              <md-input-container class="md-block">
                <label>Komentar</label>
                <textarea ng-model="restaurantVm.review.comment" md-maxlength="150" rows="3" md-select-on-focus></textarea>
              </md-input-container>
                  
              <md-button ng-click="restaurantVm.sendReview();" style="float: right">Potvrdi</md-button>
            </div>
        </md-content>
      </md-tab>

    </md-tabs>
  </md-content>
</div>
