<div layout="column" style="width:100%; background-color:#283593;" flex>
    <div layout="row" style="position:absolute; width:100%; padding:5px;">
        <div id="map" style="height:400px; width:100%;"></div>
        <!-- Logo -->
        <div layout="row" class="restaurant-image">
            <img ng-src="{{restaurantVm.restaurant.image}}" alt="Restaurant image" style="widht:200px;height:200px;"/>
        </div>

        <!-- Additional info -->
        <div class="restaurant-rating">
            <!--<md-content class="md-padding">-->
                <!--<p class="add-info-details"> {{restaurantVm.restaurant.type}} </p>-->
                <!--<p class="add-info-details"> {{restaurantVm.restaurant.info}} </p>-->
                <!--<p class="add-info-details"> Treba srediti dalje ovaj deo </p>-->
                <md-button  ng-show="restaurantVm.isGuestLogged"
                            ng-click="restaurantVm.showReservationDialog();"
                            class="action-empl md-raised md-primary"
                            style="width:100%; height:100%;">
                    <i class="material-icons md-48">bookmark_border</i> </md-button>
            <!--</md-content>-->
        </div>

        <!-- Name -->
        <div class="restaurant-name" flex>
            <h1 style="color:white; background-color:#283593;"> {{restaurantVm.restaurant.name}} </h2>
        </div>
    </div >

    <div class="restaurant-tabs"style="margin-top: 460px; background-color:#eee;" ng-cloak>
        <div layout="row">
            <div id="toast-box"></div>
        </div>
        <md-content>
        <md-tabs class="md-primary md-hue-2" md-dynamic-height md-border-bottom>
            <md-tab label="Jelovnik">
                <md-tab-body>
    				<md-subheader ng-show="restaurantVm.foodMenu.length == 0" class="md-no-sticky">
    					<p>Trenutno ne postoji nijedna stavka u jelovniku.</p>
    				</md-subheader>
    				<div ng-hide="restaurantVm.foodMenu.length == 0">
    					<md-input-container md-no-float class="md-block md-primary" style="padding-left: 20px; padding-right: 35px; width:300px;">
    						<input ng-model="searchFood" type="text" placeholder="Pretraga hrane..." >
    						<md-icon style="display:inline-block;">search</md-icon>
    					</md-input-container>
    				</div>
    				<div ng-hide="restaurantVm.foodMenu.length == 0" layout="row" layout-wrap>
    	            	<div layout="row" ng-repeat="meal in restaurantVm.foodMenu | filter : searchFood" layout-wrap>
    	                	<md-card class="order-item">
    							<!-- This style attribute must be here - it fixes one Chromium bug -->
    							<img ng-src="{{meal.image}}" class="md-card-image" style="min-width: 0; min-height: 0; max-height:180px;"/>
    	                        <md-card-content style="margin-top:-24px; height:100px;">
    	                            <h4>{{meal.name}}</h4>
    	                            <p style="color:grey">{{meal.info}}</p>
    	                        </md-card-content>
                                <md-card-actions layout="row" layout-align="end end">
                                    <p>
                                        <md-icon class="material-icons">attach_money
                                            <md-tooltip>
                                                Cena
                                            </md-tooltip>
                                        </md-icon>{{meal.price}} RSD
                                    </p>
                                </md-card-actions>
    	                	</md-card>
    	            	</div>
    	            </div>
    			</md-tab-body>
            </md-tab>
            <md-tab label="Karta pića">
                <md-tab-body>
                    <md-subheader ng-show="rmanager.drinksMenu.length == 0" class="md-no-sticky">
                        <p>Trenutno ne postoji nijedna stavka u karti pića.</p>
                    </md-subheader>
                    <div ng-hide="restaurantVm.drinksMenu.length == 0">
                        <md-input-container md-no-float class="md-block md-primary" style="padding-left: 20px; padding-right: 35px; width:300px;">
                            <input ng-model="searchDrinks" type="text" placeholder="Pretraga pića..." >
                            <md-icon style="display:inline-block;">search</md-icon>
                        </md-input-container>
                    </div>
                    <div ng-hide="rmanager.drinksMenu.length == 0" layout="row" layout-wrap>
                        <div layout="row" ng-repeat="meal in restaurantVm.drinksMenu | filter : searchDrinks" layout-wrap>
                            <md-card class="order-item">
                                <!-- This style attribute must be here - it fixes one Chromium bug -->
                                <img ng-src="{{meal.image}}" class="md-card-image" style="min-width: 0; min-height: 0; max-height:180px;"/>
                                <md-card-content style="margin-top:-24px; height:100px;">
                                    <h4>{{meal.name}}</h4>
                                    <p style="color:grey">{{meal.info}}</p>
                                </md-card-content>
                                <md-card-actions layout="row" layout-align="end end">
                                    <p>
                                        <md-icon class="material-icons">attach_money
                                            <md-tooltip>
                                                Cena
                                            </md-tooltip>
                                        </md-icon>{{meal.price}} RSD
                                    </p>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab label="Utisci gostiju">
                <md-content class="md-padding">
                    <md-subheader ng-hide="restaurantVm.reviews.length > 0" class="md-no-sticky">Trenutno nema ostavljenih ocena restorana.</md-subheader>
                    <!-- Restaurant Reviews -->
                    <div style="padding: 5 40" ng-repeat="review in restaurantVm.reviews">
                        <p>{{review.reviewer.firstName + ' ' + review.reviewer.lastName}} </p>
                        <div layout-gt-sm="row" layout="column">
                            <div class="rating-item" flex>
                                Restoran:
                                <div ng-init="review.restaurantRate"></div>
                                <div class="star-rating" star-rating-no-click rating-value="review.restaurantRate" data-max="5"></div>
                            </div>

                            <div class="rating-item" flex>
                                Usluga:
                                <div ng-init="review.serviceRate"></div>
                                <div class="star-rating" star-rating-no-click rating-value="review.serviceRate" data-max="5"></div>
                            </div>

                            <div class="rating-item" flex>
                                Hrana:
                                <div ng-init="review.foodRate"></div>
                                <div class="star-rating" star-rating-no-click rating-value="review.foodRate" data-max="5"></div>
                            </div>
                        </div>
                        <p>{{review.comment}}</p>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
        </md-content>
    </div>
</div>
