<div id="wrapper" layout="row">
	<div id="toast-box"></div>

	<section layout="column">
		<md-sidenav
				class="md-sidenav-left"
				md-component-id="left"
				md-is-locked-open="true"
				md-disable-backdrop
				md-whiteframe="4"
				style="height:100%"
		>
			<!-- Name and image -->
			<md-toolbar class="md-hue-2">
				<div layout="row" layout-align="end start">
					<md-button 	class="md-icon-button" aria-label="Change image"
								  flow-files-submitted="rmanagerVm.upload($flow)"
								  flow-attrs="{accept:'image/*'}"
								  flow-btn>
						<md-icon class="material-icons">add_a_photo</md-icon>
						<md-tooltip>
							Promeni fotografiju
						</md-tooltip>
					</md-button>
				</div>
				<div layout="column" layout-align="center center">
					<img
							alt="{{systemManagerProfileVm.smanager.firstName}}"
							ng-src="{{systemManagerProfileVm.smanager.image}}"
							class="img-circle"
					/>
					<h2>{{systemManagerProfileVm.smanager.firstName + ' ' + systemManagerProfileVm.smanager.lastName}}</h2>
				</div>
			</md-toolbar>
			<md-divider></md-divider>

			<!-- Account info -->
			<div layout="column" layout-align="center start" class="additional-info">
				<div style=" margin-left: 10px;" layout="row" layout-align="center center">
					<md-icon class="material-icons">mail_outline
						<md-tooltip md-direction="top">
							Email
						</md-tooltip>
					</md-icon>
					<h4>&nbsp;&nbsp;{{systemManagerProfileVm.smanager.email}}</h4>
				</div>
			</div>

			<!-- Actions -->
			<md-divider></md-divider>
			<md-content flex style="min-height:270px;">
				<md-menu-content>
					<md-divider></md-divider>
					<md-menu-item class="md-indent">
						<md-button 	class="md-primary"
									  ng-click="systemManagerProfileVm.addRestaurant()">
							<md-icon class="material-icons">restaurant_menu</md-icon>
							<strong>Dodavanje novog restorana</strong>
						</md-button>
					</md-menu-item>
					<md-divider></md-divider>
					<md-menu-item class="md-indent">
						<md-button 	class="md-primary"
									  ng-click="systemManagerProfileVm.addProvider()">
							<md-icon class="material-icons">assignment_ind</md-icon>
							<strong>Registrovanje provajdera</strong>
						</md-button>
					</md-menu-item>
					<md-divider></md-divider>
					<md-menu-item class="md-indent">
						<md-button 	class="md-primary"
									  ng-click="systemManagerProfileVm.changePassword(true);">
							<md-icon class="material-icons">lock</md-icon>
							<strong>Izmjena lozinke</strong>
						</md-button>
					</md-menu-item>
					<md-divider></md-divider>
					<md-menu-item class="md-indent">
						<md-button 	class="md-primary">
							<md-icon class="material-icons">exit_to_app</md-icon>
							<strong>Odjavi se</strong>
						</md-button>
					</md-menu-item>
					<md-divider></md-divider>
				</md-menu-content>
			</md-content>

		</md-sidenav>
	</section>

	<div id="right" flex class="notification-list" style="margin-top: 3px; margin-left: 3px;">
		<div ng-show="!showSearch">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h3>
					Registrovani restorani
				</h3>
				<span flex></span>
				<md-button class="md-icon-button" aria-label="Search" ng-click="showSearch = !showSearch">
					<md-icon aria-label="Search" class="material-icons">search</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		</div>
		<div  ng-show="showSearch">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" ng-click="showSearch = !showSearch" aria-label="Back">
						<md-icon aria-label="Back" class="material-icons">arrow_back</md-icon>
					</md-button>
					<md-input-container flex>
						<input ng-model="systemManagerProfileVm.rest_name" placeholder="Traži po imenu">
					</md-input-container>
					<md-button class="md-icon-button" aria-label="Search" ng-click="showSearch = !showSearch">
						<md-icon aria-label="Search" class="material-icons">search</md-icon>
					</md-button>
				</div>
			</md-toolbar>
		</div>
		<div class="row">
			<ul class="equal-height-thumbnail">
				<li class="order" ng-repeat="restaurant in systemManagerProfileVm.smanager.restaurants | filter: systemManagerProfileVm.rest_name">
					<figure><img ng-src="{{restaurant.image}}" class="order-img" alt="Equal height of thumbnail"></figure>
					<div class="caption-waiter">
						<h4>{{restaurant.name}}</h4>
						<div style="text-align: right; align-content: flex-end;">
							<md-button style="align-content: right;" class="md-raised md-primary" aria-label="Search" ng-click="systemManagerProfileVm.showRestaurantDetails(restaurant.restaurantId)">
								Detalji
							</md-button>
							<md-button class="md-icon-button md-raised md-primary" aria-label="Search" ng-click="systemManagerProfileVm.addRestaurantManager(restaurant.restaurantId)">
								<md-tooltip md-direction="top">
									Dodaj menadžera restorana
								</md-tooltip>
								<md-icon aria-label="Search" class="material-icons">supervisor_account</md-icon>
							</md-button>
						</div>
					</div>
				</li>
			</ul>

		</div>
	</div>
</div>

