<div id="wrapper" layout="row">

	<section layout="column">
		<md-sidenav
				class="md-sidenav-left"
				md-component-id="left"
				md-is-locked-open="true"
				md-disable-backdrop
				md-whiteframe="4"
				style="height:100%"
		>
			<!-- Name and image -->
			<md-toolbar class="md-hue-2">
				<div layout="row" layout-align="end start">
					<md-button 	class="md-icon-button" aria-label="Change image"
								  flow-files-submitted="rmanagerVm.upload($flow)"
								  flow-attrs="{accept:'image/*'}"
								  flow-btn>
						<md-icon class="material-icons">add_a_photo</md-icon>
						<md-tooltip>
							Promeni fotografiju
						</md-tooltip>
					</md-button>
				</div>
				<div layout="column" layout-align="center center">
					<img
							alt="{{cookProfileVm.cook.firstName}}"
							ng-src="{{cookProfileVm.cook.image}}"
							class="img-circle"
					/>
					<h2>{{cookProfileVm.cook.firstName + ' ' + cookProfileVm.cook.lastName}}</h2>
				</div>
			</md-toolbar>
			<md-divider></md-divider>

			<!-- Account info -->
			<div layout="column" layout-align="center start" class="additional-info">
				<div style=" margin-left: 10px;" layout="row" layout-align="center center">
					<md-icon class="material-icons">mail_outline
						<md-tooltip md-direction="top">
							Email
						</md-tooltip>
					</md-icon>
					<h4>&nbsp;&nbsp;{{cookProfileVm.cook.email}}</h4>
				</div>
				<div style=" margin-left: 10px;" layout="row" layout-align="center center">
					<md-icon class="material-icons">date_range
						<md-tooltip md-direction="top">
							Datum rođenja
						</md-tooltip>
					</md-icon>
					<h4 >&nbsp;&nbsp;{{cookProfileVm.cook.birthday | date: 'longDate'}}</h4>
				</div>
				<div style=" margin-left: 10px;" layout="row" layout-align="center center">
					<md-icon class="material-icons">pets
						<md-tooltip md-direction="top">
							broj cipela
						</md-tooltip>
					</md-icon>
					<h4 >&nbsp;&nbsp;{{cookProfileVm.cook.shoesSize}}</h4>
				</div>
				<div style=" margin-left: 10px;" layout="row"  layout-align="center center">
					<md-icon class="material-icons">style
						<md-tooltip md-direction="top">
							konfekcijski broj
						</md-tooltip>
					</md-icon>
					<h4>&nbsp;&nbsp;{{cookProfileVm.cook.dressSize}}</h4>
				</div>
			</div>

			<!-- Actions -->
			<md-divider></md-divider>
			<md-content flex style="min-height:270px;">
				<md-menu-content>
					<md-menu-item class="md-indent">
						<md-button 	class="md-primary"
									  ng-click="cookProfileVm.editProfile();">
							<md-icon class="material-icons">account_circle</md-icon>
							<strong>Ažuriranje profila</strong>
						</md-button>
					</md-menu-item>
					<md-divider></md-divider>
					<md-menu-item class="md-indent">
						<md-button 	class="md-primary"
									  ng-click="cookProfileVm.openSchedule();">
							<md-icon class="material-icons">event</md-icon>
							<strong>Pregled rasporeda rada</strong>
						</md-button>
					</md-menu-item>
					<md-divider></md-divider>
					<md-menu-item class="md-indent">
						<md-button 	class="md-primary"
									  ng-click="cookProfileVm.changePassword(true);">
							<md-icon class="material-icons">lock</md-icon>
							<strong>Izmjena lozinke</strong>
						</md-button>
					</md-menu-item>
					<md-divider></md-divider>
					<md-menu-item class="md-indent">
						<md-button 	class="md-primary">
							<md-icon class="material-icons">exit_to_app</md-icon>
							<strong>Odjavi se</strong>
						</md-button>
					</md-menu-item>
					<md-divider></md-divider>
				</md-menu-content>
			</md-content>

		</md-sidenav>
	</section>

	<!-- Tabs -->
	<div id="right" style="margin-left:3px; margin-top:3px;" flex>
		<md-content>
			<md-tabs class="md-primary" md-dynamic-height md-border-bottom ng-click="cookProfileVm.clickOnTab();" md-selected="cookProfileVm.selectedTab">
				<md-tab>
					<md-tab-label>
						Pristigla jela&nbsp;&nbsp;&nbsp;<span class="item-badge" ng-show="cookProfileVm.notNo!=-1">{{cookProfileVm.notNo}}</span>
					</md-tab-label>

					<md-tab-body>
						<md-content class="md-padding">
							<div layout="row" layout-wrap>
								<div class='md-padding' layout="row" ng-repeat="meal in cookProfileVm.waitingMeals" layout-wrap>

									<md-card class="order-item">
										<md-card-content>
											<div aria-label="Type" style="position: absolute; width: 85%;">
												<md-chips style="float: right !important; position:relative !important;">
													<md-chip style="background-color: #ff4081; color:white; font-size: 11px;">{{meal.menuItem.specType}}</md-chip>
												</md-chips>
											</div>

											<img ng-src="{{meal.menuItem.image}}" class="md-card-image order-img">
											<h4>{{meal.menuItem.name}}</h4>
											<p><md-icon class="material-icons">local_dining</md-icon> količina:{{meal.amount}}</p>
											<md-button aria-label="hidden" style="visibility: hidden;"></md-button>
										</md-card-content>

										<md-card-actions class="order-btns" layout="row" layout-align="center end">
											<md-button class="md-raised" ng-disabled="true">Detalji</md-button>
											<md-button class="md-raised md-primary" ng-click="cookProfileVm.prepareFood(meal.itemId);">Prihvati</md-button>
										</md-card-actions>
									</md-card>
								</div>
							</div>
						</md-content>
					</md-tab-body>
				</md-tab>
				<md-tab>
					<md-tab-label>
						Jela u izradi
					</md-tab-label>
					<md-tab-body>
						<md-content class="md-padding">
							<p ng-show="cookProfileVm.preparingMeals.length == 0;"> Nema prihvaćenih jela za izradu. </p>

							<div layout="row" ng-show="cookProfileVm.preparingMeals.length !== 0" layout-wrap>
								<div class='md-padding' layout="row" ng-repeat="meal in cookProfileVm.preparingMeals" layout-wrap>

									<md-card class="order-item">
										<md-card-content>
											<img ng-src="{{meal.menuItem.image}}" class="md-card-image order-img">
											<h4>{{meal.menuItem.name}}</h4>
											<p><md-icon class="material-icons">local_dining</md-icon> količina:{{meal.amount}}</p>
											<md-button aria-label="hidden" style="visibility: hidden;"></md-button>
										</md-card-content>

										<md-card-actions class="order-btns" layout="row" layout-align="center end">
											<md-button class="md-raised" ng-disabled="true">Detalji</md-button>
											<md-button class="md-raised md-primary" ng-click="cookProfileVm.finishFood(meal.itemId);" >Notifikuj</md-button>
										</md-card-actions>
									</md-card>

								</div>
							</div>

						</md-content>
					</md-tab-body>

				</md-tab>
			</md-tabs>
		</md-content>
	</div>

</div>

