<div class="user-header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="images/profile.jpg" alt="Sergio Ramos" class="img-thumbnail">
            </div>
            <div class="col-md-9">
                <div class="pull-right">
                    <span class="label label-primary">Nešto ovdje</span>
                    <span class="label label-danger">Nešto ovdje</span>
                </div>
                <div>
                    <h2>{{ guestProfileVm.name }}</h2>
                    <h4 style="color: #666">GOST</h4>
                    <h3 style="color: #444">sergioramos@realmadrid.com</h3>
                    <blockquote class="blockquote-reverse">
                        I'm not in danger, I'm the danger.
                        <footer>Walter White in <cite title="Source Title">Breaking Bad</cite></footer>
                    </blockquote>
                    <div>
                        <button class="btn btn-success">Dodaj kao prijatelja</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="friends-list">
        <h4>Lista prijatelja</h4>
        <div class="input-group col-sm-4">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Unesite ime i/ili prezime prijatelja..."/>
        </div>
        <div class="row">
            <img src="images/friend-01-small.png" class="col-xs-1 friend"/>
            <img src="images/friend-02-small.png" class="col-xs-1 friend"/>
            <img src="images/friend-03-small.png" class="col-xs-1 friend"/>
            <img src="images/friend-04-small.png" class="col-xs-1 friend"/>
            <img src="images/friend-04-small.png" class="col-xs-1 friend"/>
            <img src="images/friend-01-small.png" class="col-xs-1 friend"/>
            <img src="images/friend-02-small.png" class="col-xs-1 friend"/>
            <img src="images/friend-03-small.png" class="col-xs-1 friend"/>
            <img src="images/friend-03-small.png" class="col-xs-1 friend"/>
            <img src="images/friend-04-small.png" class="col-xs-1 friend"/>
            <img src="images/friend-04-small.png" class="col-xs-1 friend"/>
            <img src="images/friend-01-small.png" class="col-xs-1 friend"/>
            <img src="images/friend-03-small.png" class="col-xs-1 friend"/>
            <img src="images/friend-03-small.png" class="col-xs-1 friend"/>
            <img src="images/friend-02-small.png" class="col-xs-1 friend"/>
            <img src="images/friend-03-small.png" class="col-xs-1 friend"/>
            <img src="images/friend-04-small.png" class="col-xs-1 friend"/>
            <img src="images/friend-03-small.png" class="col-xs-1 friend"/>
            <img src="images/friend-04-small.png" class="col-xs-1 friend"/>
        </div>
        
    </div>
</div>
