<div class="user-header">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img src="images/profile.jpg" alt="Sergio Ramos" class="img-thumbnail">
			</div>
			<div class="col-md-9">
				<div class="pull-right">
                    <md-button class="md-icon-button" aria-label="Kalendarski prikaz">
						<md-icon aria-label="Kalendarski prikaz" class="material-icons">date_range</md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Kalendarski prikaz">
						<md-icon aria-label="Kalendarski prikaz" class="material-icons">dashboard</md-icon>
					</md-button>
				</div>
				<div>
					<h2>Sergio Ramos</h2>
					<h4 style="color: #666">Konobar</h4>
					<h3 style="color: #444">sergioramos@realmadrid.com</h3>
					<blockquote class="blockquote-reverse">
						I'm not in danger, I'm the danger.
						<footer>Walter White in <cite title="Source Title">Breaking Bad</cite></footer>
					</blockquote>
					<div>
                        <md-content class="md-padding">
                            <md-button class="md-raised md-accent">Izmijeni podatke</md-button>
                            <md-button class="md-raised md-accent">Promijeni lozinku</md-button>
                        </md-content>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-cloak>
	<md-content>
		<md-tabs class="md-primary" md-dynamic-height md-border-bottom>
			<md-tab label="Završene porudžbine">
				<md-content class="md-padding">
					<div layout="row" layout-wrap>
						<div class='md-padding' layout="row" ng-repeat="meal in waiterProfileVm.meals" layout-wrap>

							<md-card class="order-item">
								<img ng-src="{{meal.img_src}}" class="md-card-image order-img">
								
								<md-card-content>
									<h4>{{meal.name}}</h4>
									<md-button aria-label="hidden" style="visibility: hidden;"></md-button>
								</md-card-content>
								
								<md-card-actions class="order-btns" layout="row" layout-align="center end">
									<md-button> <i class="material-icons md-16">restaurant_menu</i> sto : 4</md-button>
									<md-button class="md-raised md-primary">Prihvati</md-button>
								</md-card-actions>
							</md-card>
							
						</div>			
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Izdati računi">
				
				<md-content class="md-padding">
					<md-list flex>
						<md-list-item class="md-3-line" ng-repeat="bill in waiterProfileVm.bills" ng-click="null">
							<img ng-src="images/icons/ic_offer_black_36px.svg" class="md-avatar"/>
							<div class="md-list-item-text" layout="column">
								<h3>{{ bill.code }}</h3>
								<h4>{{ bill.total }} RSD</h4>
								<p>{{ bill.date }}</p>
							</div >
							<div class="md-secondary">
								<md-button class="md-raised">Više...</md-button>
							</div>
						</md-list-item>
					</md-list>
				</md-content>
			
			</md-tab>
			
			<md-tab label="Kalendar">
				<md-content class="md-padding">
					<mwl-calendar
						view="waiterProfileVm.calendarView"
						current-day="waiterProfileVm.calendarDate"
						events="waiterProfileVm.events"
						view-title="calendarTitle"
						view-date="vm.viewDate"
						on-event-click="eventClicked(calendarEvent)"
						on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
						edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
						delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
						on-edit-event-click="eventEdited(calendarEvent)"
						on-delete-event-click="eventDeleted(calendarEvent)"
						cell-is-open="true">
					</mwl-calendar>
				</md-content>
			
			</md-tab>

		</md-tabs>
	</md-content>
</div>