<div layout="row" layout-xs="column">
  <!-- Main Content -->
  <div flex-gt-sm="70" class="main-content">
    <md-toolbar scroll>
      <div class="md-toolbar-tools">
        <h3 md-header-title flex>Profil korisnika</h3>
        <md-button ng-show="guestProfileVm.editMode && guestProfileVm.admin" class="md-icon-button" aria-label="Cancel" ng-click="guestProfileVm.cancel()">
          <md-icon aria-label="Cancel" class="material-icons">cancel</md-icon>
        </md-button>
        <md-button ng-show="guestProfileVm.editMode && guestProfileVm.admin" class="md-icon-button" aria-label="Save changes" ng-disabled="editProfileForm.$invalid" ng-click="guestProfileVm.saveChanges()">
          <md-icon aria-label="Save changes" class="material-icons">save</md-icon>
        </md-button>
        <md-button ng-hide="guestProfileVm.editMode || !guestProfileVm.admin" class="md-icon-button" aria-label="Edit profile" ng-click="guestProfileVm.editProfile()">
          <md-icon aria-label="Edit profile" class="material-icons">mode_edit</md-icon>
        </md-button>
        <md-menu ng-show="guestProfileVm.admin">
          <md-button class="md-icon-button" aria-label="Notification" ng-click="$mdOpenMenu($event)">
            <md-icon aria-label="Notification" class="material-icons">notifications</md-icon>
            <sup class="badge">{{guestProfileVm.friendRequests.length}}</sup>
          </md-button>
          <!-- Requests menu -->
          <md-menu-content width="5">
            <md-menu-item ng-repeat="request in guestProfileVm.friendRequests">
                <md-list-item class="noright">
                  <img class="md-avatar" ng-src="{{request.image}}">
                  <p>{{request.firstName + ' ' + request.lastName}}</p>
                  <md-icon aria-label="Accept friend" ng-click="guestProfileVm.acceptFriend(request.userId)" class="material-icons margin-left-4">done</md-icon>
                  <md-icon aria-label="Reject friend" ng-click="guestProfileVm.rejectFriend(request.userId)" class="material-icons margin-left-4">clear</md-icon>
                </md-list-item>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon aria-label="More" class="material-icons">more_vert</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    
    <div layout="column">
      <div layout="row" layout-xs="column">
        <div flex class="content">
          <img alt="{{guestProfileVm.user.firstName}}" ng-src="{{guestProfileVm.user.image}}" class="md-avatar" />
        </div>
        <div flex class="content">
          <!-- Ime i prezime -->
          <h2 ng-hide="guestProfileVm.editMode">{{ guestProfileVm.user.firstName + ' ' +  guestProfileVm.user.lastName }}</h2>
          
          <!-- E-mail (ne moze se mijenjati) -->
          <h4>{{ guestProfileVm.user.email }}</h4>
          
          <!-- Edit profila -->
          <form name="editProfileForm" ng-show="guestProfileVm.editMode && guestProfileVm.admin">
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Ime</label>
                <input md-maxlength="10" required name="name" ng-model="guestProfileVm.user.firstName" />
                <div ng-messages="editProfileForm.name.$error">
                  <div ng-message="required">Ime je obavezno.</div>
                  <div ng-message="md-maxlength">Ime ne može biti duže od 10 karaktera.</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Prezime</label>
                <input md-maxlength="20" required name="lastname" ng-model="guestProfileVm.user.lastName" />
                <div ng-messages="editProfileForm.lastname.$error" role="alert">
                  <div ng-message="required">Prezime je obavezno.</div>
                  <div ng-message="md-maxlength">Prezime ne može biti duže od 20 karaktera.</div>
                </div>
              </md-input-container>
            </div>
            
            <md-input-container class="md-block">
              <label>Nova lozinka</label>
              <md-icon aria-label="Password" class="material-icons">lock_outline</md-icon>
              <input minlength="8" required type="password" id="userPassword" name="userPassword" ng-model="guestProfileVm.user.password"/>
              <div ng-messages="editProfileForm.userPassword.$error" role="alert">
                <div ng-message="required">Lozinka je obavezna.</div>
                <div ng-message="minlength">Lozinka mora imati bar 8 karaktera.</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Ponovite lozinku</label>
              <md-icon aria-label="Password" class="material-icons">lock_outline</md-icon>
              <input required type="password" name="userPasswordRepeated" pw-match="userPassword" ng-model="guestProfileVm.user.passwordRepeated"/>
              <div ng-messages="editProfileForm.userPasswordRepeated.$error" role="alert">
                <div ng-message="pwmatch">Lozinke se ne poklapaju.</div>
              </div>
            </md-input-container>
          </form>
        </div>
      </div>

      <md-button ng-show="!guestProfileVm.admin && !guestProfileVm.isFriend && !guestProfileVm.sendRequest" class="md-fab" aria-label="Add friend">
        <md-icon ng-click="guestProfileVm.addFriend(guestProfileVm.user.guestId)" aria-label="Add person" class="material-icons">person_add</md-icon>
      </md-button>
      <md-button ng-show="!guestProfileVm.admin && guestProfileVm.isFriend" class="md-fab" aria-label="Remove person from friends">
        <md-icon ng-click="guestProfileVm.removeFriend(guestProfileVm.user.guestId)" aria-label="Remove person from friends" class="material-icons">remove_circle_outline</md-icon>
      </md-button>
      
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Moje posjete">
          <md-content class="md-padding">
  					<div layout="row" layout-wrap>
  						<div class='md-padding' style="background-color: #eee" layout="row" ng-repeat="visit in guestProfileVm.visits" layout-wrap>
  							<md-card>
  								<img ng-src="{{visit.restaurant.imageSrc}}" class="md-card-image" style="width: 196px">
  								
  								<md-card-content>
  									<h4>{{visit.name}}</h4>
  								</md-card-content>
  								
                  <div>
                    <div class="rating-item">
                      Restoran:
                      <div ng-init="visit.rating_restaurant"></div>
                      <div class="star-rating" star-rating rating-value="visit.rating_restaurant" data-max="5" on-rating-selected="rateFunction(rating)"></div>
                    </div>

                    <div class="rating-item">
                      Usluga:
                      <div ng-init="visit.rating_service"></div>
                      <div class="star-rating" star-rating rating-value="visit.rating_service" data-max="5" on-rating-selected="rateFunction(rating)"></div>
                    </div>
                    
                    <div class="rating-item">
                      Hrana:
                      <div ng-init="visit.rating_food"></div>
                      <div class="star-rating" star-rating rating-value="visit.rating_food" data-max="5" on-rating-selected="rateFunction(rating)"></div>
                    </div>
                    
                  </div>
  							</md-card>
  							
  						</div>			
  					</div>
  				</md-content>
        </md-tab>
        <md-tab label="Aktivne rezervacije">
          <md-content class="md-padding">
            <div layout="row" layout-wrap>
  						<div class='md-padding' layout="row" ng-repeat="reservation in guestProfileVm.activeReservations" layout-wrap>
                <md-card>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">Rez</span>
                      <span class="md-subhead">Tip</span>
                    </md-card-title-text>
                  </md-card-title>
                  <md-card-content>
                    <img src="http://www.tastealanya.com/wp-content/uploads/2014/03/reserved.jpg" class="md-card-image reservation" alt="Washed Out">

                  </md-card-content>


                  <div class="reservation-item">
                    <i class="material-icons">today</i> {{ reservation.reservationDateTime}}
                  </div>
                  <div class="reservation-item">
                    <i class="material-icons">schedule</i> {{ reservation.reservationDateTime }}
                  </div>
                  <div class="reservation-item">
                    <i class="material-icons">people</i> 1
                  </div>

                  <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="guestProfileVm.cancelReservation(reservation.reservationId);">Otkaži rezervaciju</md-button>
                  </md-card-actions>
                </md-card>
  							
  						</div>			
  					</div>
          </md-content>
        </md-tab>
      </md-tabs>
    </div>
  </div>
  
  <!-- Side Content -->
  <div flex-gt-sm="30" class="side-content">
      <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
          <h3>
            Korisnici
          </h3>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Search" ng-click="showSearch = !showSearch">
            <md-icon aria-label="Search" class="material-icons">search</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-toolbar ng-show="showSearch">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="showSearch = !showSearch" aria-label="Back">
            <md-icon aria-label="Back" class="material-icons">arrow_back</md-icon>
          </md-button>
          <md-input-container flex>
            <input type="text" placeholder="Traži po imenu/prezimenu" ng-change="guestProfileVm.search()" ng-model="guestProfileVm.query">
          </md-input-container>
          <md-button class="md-icon-button" aria-label="Search" ng-click="showSearch = !showSearch">
            <md-icon aria-label="Search" class="material-icons">search</md-icon>
          </md-button>
        </div>
        <md-menu-content width="5">
          <md-menu-item ng-repeat="result in guestProfileVm.queryResult">
              <md-list-item class="noright" ng-click="guestProfileVm.to(result.userId)">
                <img class="md-avatar" ng-src="{{result.image}}">
                <p class="color-gray">{{result.firstName + ' ' + result.lastName}}</p>
              </md-list-item>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      </md-toolbar>
    <md-list>
      <md-subheader class="md-primary">Moji prijatelji</md-subheader>
      <md-list-item ng-repeat="friend in guestProfileVm.friends" class="noright">
          <a ng-href="#/profile-guest/{{friend.guestId}}">
            <img alt="{{friend.firstName + ' ' + friend.lastName}}" ng-src="{{ friend.image }}"  class="md-avatar" />
          </a>
          <p>{{friend.firstName + ' ' + friend.lastName}}</p>
        <md-icon ng-show="guestProfileVm.admin" ng-click="guestProfileVm.removeFriend(friend.guestId)" aria-label="Remove friend" class="material-icons cursor-pointer">highlight_off</md-icon>
      </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <md-list>
      <md-subheader class="md-primary">Ostali korisnici</md-subheader>
      <md-list-item ng-repeat="friend in guestProfileVm.friends" class="noright">
        <a ng-click="guestProfileVm.foo()">
          <img alt="{{friend.firstName + ' ' + friend.lastName}}" ng-src="{{ friend.image }}"  class="md-avatar" />
        </a>
        <p>{{ friend.firstName }}</p>
        <md-icon aria-label="Search" class="material-icons">add_circle_outline</md-icon>
      </md-list-item>
    </md-list>
  </div>
  
</div>