<div class="user-header">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img src="images/profile.jpg" alt="Sergio Ramos" class="img-thumbnail">
			</div>
			<div class="col-md-9">
				<div class="pull-right">
                    <md-button class="md-icon-button" aria-label="Kalendarski prikaz">
						<md-icon aria-label="Kalendarski prikaz" class="material-icons">date_range</md-icon>
					</md-button>
				</div>
				<div>
					<h2>Sergio Ramos</h2>
					<h4 style="color: #666">Šanker</h4>
					<h3 style="color: #444">sergioramos@realmadrid.com</h3>
					<blockquote class="blockquote-reverse">
						I'm not in danger, I'm the danger.
						<footer>Walter White in <cite title="Source Title">Breaking Bad</cite></footer>
					</blockquote>
					<div>
                        <md-content class="md-padding">
                            <md-button class="md-raised md-accent">Izmijeni podatke</md-button>
                            <md-button class="md-raised md-accent">Promijeni lozinku</md-button>
                        </md-content>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div ng-cloak>
	<md-content>
		<md-tabs class="md-primary" md-dynamic-height md-border-bottom>
			<md-tab label="Pristigla pića">
				<md-content class="md-padding">
					<div layout="row" layout-wrap>
						<div class='md-padding' layout="row" ng-repeat="drink in barmanProfileVm.waitingDrinks" layout-wrap>

							<md-card class="order-item">
								<img src="{{drink.img_src}}" class="md-card-image order-img">
								
								<md-card-content>
									<h4>{{drink.name}}</h4>
									<md-button style="visibility: hidden;"></md-button>
								</md-card-content>
								
								<md-card-actions class="order-btns" layout="row" layout-align="center end">
									<md-button class="md-raised">Detalji</md-button>
									<md-button class="md-raised md-primary">Prihvati</md-button>
								</md-card-actions>
							</md-card>
							
						</div>			
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Pića u izradi">
				<md-content class="md-padding">
					<div layout="row" layout-wrap>
						<div class='md-padding' layout="row" ng-repeat="drink in barmanProfileVm.preparingDrinks" layout-wrap>

							<md-card class="order-item">
								<img src="{{drink.img_src}}" class="md-card-image order-img">
								
								<md-card-content>
									<h4>{{drink.name}}</h4>
									<md-button style="visibility: hidden;"></md-button>
								</md-card-content>
								
								<md-card-actions class="order-btns" layout="row" layout-align="center end">
									<md-button class="md-raised">Detalji</md-button>
									<md-button class="md-raised md-primary">Notifikuj</md-button>
								</md-card-actions>
							</md-card>
							
						</div>			
					</div>

				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>