<div id="login">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center">
                <h2 class="color-white">ISA MRS Projekat <b>TeamOne</b></h2>
                <p class="larger-text color-white">
                    Šoferskih gostiona,
                    Hormona do plafona.
                    Muškaraca tona
                    Turbo je sezona!

                    Ej, što volim miris od benzina
                    Ej, magistrala Dalmatina.
                    Hop, hop, malo, malo pa krivina.
                    Ljulja se kabina,
                    Turbo je mašina!

                    Mali, mali, meni toga fali.
                    Latinice, atmosferice.
                    Mali, mali, meni toga fali.
                    Gas do daske, bebice!

                    Gas, gas...
                    Gas, gas...
                </p>
            </div>
            <div class="col-md-4">
                <div class="form-header">
                    <h4>Registruj se</h4>
                    <p>Popunite formu ispod da biste dobili pristup aplikaciji...</p>
                </div>
                <form class="form-horizontal box-no-radius">
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10">
                            <input type="text" class="form-control no-border-radius" id="name" placeholder="Vaše ime">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10">
                            <input type="text" class="form-control no-border-radius" id="lastname" placeholder="Vaše prezime">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10">
                            <input type="email" class="form-control no-border-radius" id="email" placeholder="Vaša imejl adresa">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10">
                            <input type="password" class="form-control no-border-radius" id="password" placeholder="Vaša lozinka">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10">
                            <input type="password" class="form-control no-border-radius" id="repeat-password" placeholder="Ponovite lozinku">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10">
                            <button type="submit" class="btn btn-success pull-right">Registruj se</button>
                        </div>
                    </div>
                    <div class="text-center">
                        Već imaš nalog? <a href="#login">Prijavi se</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
