<md-content>
  <md-input-container md-no-float class="md-block">
      <input ng-model="search" type="text" placeholder="Ime stavke" >
      <md-icon style="display:inline-block;">search</md-icon>
  </md-input-container>

  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <span>Meni restorana</span>
    </div>
  </md-toolbar>
  <md-list style="padding-left: 5px;">
     <md-list-item ng-hide="meal.hide" class="md-2-line" ng-repeat="meal in inviteVm.meals | filter : search ">
        <img ng-src="{{meal.image}}" class="md-avatar" />
        <div class="md-list-item-text" layout="column">
            <h3>{{ meal.name }}</h3>
            <h4>{{ meal.info }}</h4>
        </div>
       <md-button class="md-icon-button" ng-click="inviteVm.addMeal(meal);" aria-label="More">
          <md-icon aria-label="Search" class="material-icons">send</md-icon>
       </md-button>
     </md-list-item>
   </md-list>
   
   <form name="orderForm">
     <md-toolbar layout="row">
        <div class="md-toolbar-tools">
          <span>Odabrane stavke</span>
        </div>
      </md-toolbar>
     <md-list>
       <md-list-item class="md-3-line md-long-text" ng-repeat="meal in inviteVm.orderedMeals" style="margin-top: 5px; margin-bottom: 0px;">
         <img ng-src="{{meal.image}}" class="md-avatar" />
         <div class="md-list-item-text" layout="column">
            <h3>Moje ime je jako dugo i imacete problem sa njim</h3>
            <h4>drugi dugi red smanji se oo</h4>
            <md-input-container class="md-block">
                <label>Količina</label>
                <input required type="number" step="any" name="mealCount" ng-model="meal.count" min="1" />
            </md-input-container>
          </div>
          <md-button style="position: relative" class="md-icon-button" ng-click="inviteVm.removeMeal(meal);">
            <md-icon style="position: absolute; top: 0px; right: 0px; " md-svg-src="images/icons/ic_close_black_24px.svg" aria-label="Remove meal"></md-icon>
          </md-button>
        </md-list-item>
      </md-list>
      
      <md-button ng-disabled="inviteVm.orderedMeals.length==0 || !orderForm.$valid"  class="md-raised md-primary" ng-click="inviteVm.confirm()" md-autofocus>
          Potvrdi
      </md-button>
    </form>
    
</md-content>