.img-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 5px;
}

.hide{
    visibility: hidden;
}

.img-heightfix {
    min-width: 0 !important;
    min-height: 0 !important;
    max-height: 180px !important;
}

.additional-info {
    background: #eee;
    color: grey;
    margin-top: -10px;
    margin-bottom: -10px;
}

.additional-info h4 {
    margin-top: -10px;
    font-weight: normal;
    font-style: italic;
}

.additional-info md-icon {
    margin-top: -10px;
}

.report-info {
    font-weight: bold;
    margin-top: -16px;
}
