.img-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 5px;
}

.hide{
    visibility: hidden;
}

.img-heightfix {
    min-width: 0 !important;
    min-height: 0 !important;
    max-height: 180px !important;
}

.additional-info {
    background: #eee;
    color: grey;
    margin-top: -10px;
    margin-bottom: -10px;
}

.additional-info h4 {
    margin-top: -10px;
    font-weight: normal;
    font-style: italic;
}

.additional-info md-icon {
    margin-top: -10px;
}

.report-info {
    font-weight: bold;
    margin-top: -16px;
}

.restaurant-image {
    position: absolute;
    top: 60%;
    left: 10%;
    width: 200px;
    height:200px;
    display: flex;
    justify-content: center;
    border: solid 1px #CCC;
    -moz-box-shadow: 5px 5px 0px #999;
    -webkit-box-shadow: 5px 5px 0px #999;
        box-shadow: 5px 5px 0px #999;
}

.restaurant-rating {
    background-color: white;
    position: absolute;
    top: 10%;
    right: 10%;
    width: 300px;
    height:200px;
    display: flex;
    justify-content: center;
    border: solid 1px #CCC;
    -moz-box-shadow: 5px white;
    -webkit-box-shadow: 5px white;
        box-shadow: 5px white;
}

.restaurant-name {
    position: absolute;
    top: 96%;
    right: 35%;
    display: flex;
    justify-content: center;
}

.restaurnt-tabs {
    position: absolute;
    top: 100%;
    right: 0%;
    display: flex;
    justify-content: center;
}
