.option{
	display: inline-block;
	margin-left: 12px;
	margin-right: 12px;
	width: 100%;
}

.action-empl{
	float: right;
	width: 48px;
	vertical-align: center;
	margin-right: 10px;
}

hr{
	margin-top: 2px;
	margin-bottom: 2px;
	border-top: solid 1px;
	border-color: #9E9E9E;
	opacity: 0.4;
}

.material-icons.md-48 {
	font-size: 48px;
	margin-left : 7px;
	margin-top: 7px;
}

.material-icons.md-16 {
	font-size: 16px;
}

.equal-height-thumbnail {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  
  margin-top: 30px;
  padding: 0;
  list-style: none;
}

.equal-height-thumbnail li {
  width: 17%;
  margin: 0 1% 20px;
  padding:0 0.5%;
  background: #FFF;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1)
}

.equal-height-thumbnail figure {
  display: block;
  margin: 5px 0;
  padding: 0;
}

.equal-height-thumbnail figure img{
	width:100%;
}

.order { 
	padding: 2%;
	position: relative;
}

.invisible{
	height:30px;
}

.order>a.btn{
	position:absolute;
	bottom:7px;
	right:10px;
}

.waiter-name{
	text-align:right;
	margin-right:5px;
}

.caption-waiter{
	text-align:center;
}

.desk-num{
	text-align: right;
	margin-right: 5px;
}

.order-btns{
	position:absolute;
	bottom: 0px;
}

.order-img{
	height: 120px;
}

.order-item{
	width: 200px;
	position:relative;
	background-color:#E8EAF6;
}
