md-tab > md-content > div > div {
  background-color: #eee;
}

div.content {
  background-color: #fff;
}

.main-content {
  padding: 12px;
  background-color: #eee;
}

.side-content {
  padding: 12px;
  background-color: #eee;
}

.side-content > md-list {
  padding: 0 8px;
  background-color: #fff;
}

.form-content {
  padding: 16;
}

.form-header {
    background-color: #fff;
    color: #666;
    padding: 4px 16px;
}

.form-body {
  background-color: #eee;
  color: #333;
  padding: 8px 32px;
}

.form-text-bottom {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #333;
  margin-top: 12px;
}

.form-text-bottom > a {
  color: #283593;
  text-decoration: none;
}

.form-text-bottom > a:hover {
  text-decoration: underline;
}

.title-content {
  color: #fff;
  padding: 16px 32px;
  text-align: center;
}

.large-text {
  font-size: 16pt;
  padding-top: 12px;
}

.main-fab {
  text-align: right;
  padding-right: 32px;
}

.align-right {
  text-align: right;
}

.image-background {
  background-image: url('../images/background.jpg');
  background-size: 100% auto;
  height: 100%;
}

.rating-item {
  margin-top: 0px;
  padding-left: 4px;
  font-size: 10pt;
  font-weight: bold;
}

div.reservation-item {
  color: #333;
  padding-left: 4px;
  font-size: 11pt;
}

div.reservation-item > i {
  padding-right: 8px;
  float: left;
  margin-top: -4px;
}

.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  /* display: inline-block; */
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  width: 24px; !important
}

.rating .filled {
  color: #C2185B;
}

.reservation {
  height: 196px;
  width: 196px;
}

.friends-list {
    margin-top: 12px;
    background-color: #fff;
    padding: 4px 8px;
}

.bg-image {
    position: relative;
}
.bg-image img {
    display: block;
    width: 100%;
    max-width: 1200px; /* corresponds to max height of 450px */
    margin: 0 auto;
    max-height: 400px;
}
.bg-image h1 {
    position: absolute;
    text-align: center;
    top: 200;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-weight: bold;
}

.add-info-details{
    font-size: 110%;
    font-family: 'Ubuntu', sans-serif;
    color: #455A64;
    text-align: center;
}

.add-info-header{
    text-align: left;
    font-size: 120%;
    font-weight: bold;
}
