#login {
    background-image: url('../images/background.jpg');
    background-size: 100% auto;
    height: 100%;
    padding-top: 80px;
    margin-top: -72px;
}

.box-no-radius {
    background: #eee;
    border-radius: 0px;
    padding: 16pt;
}

.no-border-radius {
    border-radius: 0px;
}

.larger-text {
    font-size: 150%;
}

.color-white {
    color: #fff;
}

.form-header {
    background-color: #fff;
    color: #666;
    padding: 8pt 16pt;
}

.friend {
    margin-top: 5px;
    text-align: center;
}

.margin-top-24 {
    margin-top: 24px;
}

.user-header {
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    padding: 12px 0px;
}

.friends-list {
    margin-top: 12px;
    background-color: #fff;
    padding: 4px 8px;
}

.bg-image {
    position: relative;
}
.bg-image img {
    display: block;
    width: 100%;
    max-width: 1200px; /* corresponds to max height of 450px */
    margin: 0 auto;
    max-height: 400px;
}
.bg-image h1 {
    position: absolute;
    text-align: center;
    top: 200;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-weight: bold;
}
